.formidable_page_formidable-applications #wpcontent {
	padding-left: 0;
}

.frm-applications-index-content {
	margin: 40px 40px 0;
}

.frm-application-card {
	border-radius: 4px;
	background: #FFFFFF;
	grid-column: span 3/span 3; /* treat as frm3 */
	padding: 10px 0;
	display: flex;
	flex-direction: column;
}

.frm-application-card > div:first-child {
	position: relative;
}

/* Card title */
.frm-application-card > div:first-child > span {
	font-weight: 600;
}

/* Use template anchor */
.frm-application-card > div:first-child > a {
	font-size: 10px;
	position: absolute;
	right: 10px;
}

/* Card description */
.frm-application-card > div:first-child > div {
	font-size: 12px;
}

.frm-application-card hr {
	width: 100%;
}

.frm-application-card > div {
	padding: 0 10px;
}

.frm-application-card img,
#frm_view_application_modal img {
	max-width: 100%;
}

.frm-flex {
	flex: 1;
}

.frm-application-modal-details {
	padding: 15px;
}

.formidable_page_formidable-applications .ui-widget-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--grey-border);
	z-index: 2;
}

#frm_view_application_modal .frm-application-image-wrapper {
	background-color: #F6F7FB;
	padding: 20px 30px 15px;
}

.frm-application-modal-label {
	opacity: 0.65;
	margin-bottom: 5px;
}
