.formidable_page_formidable-applications #wpcontent {
	padding-left: 0;
}

.frm-applications-index-content {
	margin: 40px 40px 0;
}

.frm-application-card {
	border-radius: 4px;
	background: #FFFFFF;
	grid-column: span 3/span 3; /* treat as frm3 */
	padding: 10px 0;
}

/* Card title */
.frm-application-card > div:first-child {
	font-weight: 600;
	position: relative;
}

/* Use template anchor */
.frm-application-card > div:first-child > a {
	font-weight: 400;
	font-size: 10px;
	position: absolute;
	right: 10px;
}

.frm-application-card > div {
	padding: 0 10px;
}

.frm-application-card img {
	max-width: 100%;
}
