

.frm-admin-page-styles #frm-publishing #save_menu_header,
.frm-admin-page-styles2 #frm-publishing #save_menu_header {
	display: inline-block;
}

/* Change the order of subfields of the Name field in the backend */
.edit_form_item .frm_combo_inputs_container[data-name-layout="last_first"] .frm_form_subfield-first {
	order: 2;
}

.frm-video-wrapper iframe {
	width: 100%;
	max-width: 843px;
	border-radius: var(--border-radius);
}

#frm_field_group_popup {
	position: absolute;
	top: 0;
	right: 0;
	width: 366px;
	max-height: 231px;
	border-radius: 8px;
	background: #fff;
	box-shadow: 0px 20px 48px rgba(40, 47, 54, 0.15);
	z-index: 3;
	box-sizing: border-box;
	padding: 24px 0;
	text-align: left;
}

.rtl #frm_field_group_popup {
	text-align: right;
}

.frm-merge-fields-into-row #frm_field_group_popup {
	top: unset;
	bottom: 50px;
	height: 196px;
}

#frm_field_group_popup > hr {
	margin: 12px 0;
}

#frm_field_group_popup .frm-cancel-custom-field-group-layout,
#frm_field_group_popup .frm-save-custom-field-group-layout {
	padding: 4px 18px;
}

#frm_field_group_popup .frm-cancel-custom-field-group-layout:hover {
	border-color: var(--primary-500) !important;
	color: var(--primary-500);
	background-color: transparent !important;
}

.frm-merge-fields-into-row #frm_field_group_popup .frm-break-field-group {
	display: none;
}

.frm-merge-fields-into-row > a {
	color: rgba(40, 47, 54, 0.85);
	position: relative;
	top: 2px;
}

.frm-row-layout-title {
	font-weight: 600;
	font-size: 11px;
	line-height: 15px;
	text-transform: uppercase;
	color: rgba(40, 47, 54, 0.45);
	margin-bottom: 27px;
}

.frm-row-layout-option {
	background: #F6F7FB;
	box-sizing: border-box;
	border-radius: 2px;
	padding: 15px 10px;
}

#frm_field_group_popup .frm-row-layout-option .frm_grid_container {
	grid-gap: 0 5%;
	grid-template-columns: repeat(12, auto);
}

#frm_field_group_popup .frm-row-layout-option {
	cursor: pointer;
	border: 2px solid transparent;
}

#frm_field_group_popup .frm-row-layout-option.frm-active-row-layout,
#frm_field_group_popup .frm-row-layout-option:hover {
	border-color: var(--primary-500);
}

.frm-custom-field-group-layout,
.frm-break-field-group {
	padding: 4px 24px;
	cursor: pointer;
	font-size: var(--text-sm);
	line-height: 19px;
	color: rgba(72, 78, 84, 1);
}

.frm-custom-field-group-layout:hover,
.frm-break-field-group:hover {
	background-color: #f5f5f5f5;
}

.frm-custom-field-group-layout svg,
.frm-break-field-group svg {
	margin-right: 5px;
}

#frm_field_multiselect_popup {
	background: white;
	height: 48px;
	position: fixed;
	border-radius: 4px;
	box-shadow: 0px 8px 24px rgba(40, 47, 54, 0.15);
	color: rgba(40, 47, 54, 0.85);
	font-size: 13px;
	right: 30px;
	bottom: 10px;
	z-index: 2;
}

#frm_field_multiselect_popup > div {
	display: inline-block;
	line-height: 48px;
	vertical-align: top;
}

#frm_field_multiselect_popup.frm-unmergable > .frm-merge-fields-into-row,
#frm_field_multiselect_popup.frm-unmergable > .frm-multiselect-popup-separator {
	display: none;
}

#frm_field_multiselect_popup > div:not(.frm-multiselect-popup-separator) {
	padding: 0 20px;
	cursor: pointer;
}

#frm_field_multiselect_popup > div:not(.frm-multiselect-popup-separator):hover {
	background: #f5f5f5f5;
}

.frm-builder-popup-heading {
	font-weight: 600;
	font-size: 11px;
	line-height: 15px;
	text-transform: uppercase;
	color: rgba(40, 47, 54, 0.45);
	margin-bottom: 7px;
}

.frm-builder-popup-subheading {
	font-size: 12px;
	line-height: 16px;
	color: rgba(40, 47, 54, 0.45);
}

#frm_field_group_popup input[type="text"] {
	height: 30px;
	border-radius: 3px;
	font-size: 14px;
	padding: 8px;
	color: rgba(84, 95, 110, 1);
	border-color: rgba(40, 47, 54, 0.2);
}

.frm-multiselect-popup-separator {
	height: 36px;
	width: 1px;
	position: relative;
	top: 6px;
	background: #C4C4C4;
}

.frm-sortable-helper,
.frm-multiselect-key-is-down li.form-field:not(.edit_field_type_divider) {
	pointer-events: none;
}

.frm-sortable-helper {
	/* Make sure the item being dragged appears above other form builder fields */
	z-index: 99;
}

#frm_banner {
	width: 100%;
	color: #fff;
	background: var(--primary-500);
	height: 40px;
	line-height: 40px;
	text-align: center;
	position: relative;
}

.frm-banner-emoji {
	font-size: 19px;
}

.frm-banner-emoji,
.frm-banner-title {
	margin-right: 5px;
	vertical-align: top;
}

.frm-banner-cta a {
	text-decoration: underline !important;
}

#frm_banner .frm-banner-cta a.frm_inbox_dismiss {
	display: none;
}

.frm-banner-dismiss {
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY( -50% );
}

.frm-banner-dismiss .frmsvg {
	vertical-align: top;
}

.frm-ready-made-solution:not(.frm-search-result) {
	display: none !important;
}

#frm_leave_email_wrapper .frmsvg {
	top: 0;
}

#frm-add-my-email-address {
	margin-top: 30px;
}

.frm-ready-made-solution h3 ~ a {
	color: var(--primary-500);
}

.frm-ready-made-solution img {
	max-width: 100%;
	display: block;
	box-shadow: var(--box-shadow-lg);
}

/* On Submit action */
.frm_single_on_submit_settings .frm_form_field {
	margin: 22px 0;
}

.frm_on_submit_type_setting {
	padding: 8px 0;
}

.frm_on_submit_type label {
	display: flex;
	border: 1px solid var(--grey-border);
	border-radius: var(--small-radius);
	gap: 16px;
	padding: 16px;
	align-items: center;
	justify-content: center;
}

.frm_on_submit_type input {
	opacity: 0 !important;
	position: absolute;
	z-index: -1;
}

.frm_on_submit_type input[type="radio"]:checked + label {
	border-color: var(--primary-color);
	box-shadow: 0 0 0 1px var(--primary-color);
}

#form_settings_page .frm_on_submit_type label:hover,
.frm_on_submit_type input[type="radio"]:checked + label svg {
	color: var(--primary-color);
}
/* End On Submit action */

/* Start call-to-action */
.frm_pro_tip,
.frm-cta {
	justify-content: space-between;
	align-items: center;
	gap: var(--gap-2xl);
	padding: var(--gap-xs) var(--gap-sm);
	border-radius: var(--small-radius);
	background: var(--primary-25);
}

.frm-cta.frm-cta-border {
	border: 1px solid var(--primary-200);
}

.frm-cta.frm-cta-border .frm-cta-footer {
	background-color: #fff;
	padding: 12px var(--gap-sm);
	border-top: 1px solid var(--primary-200);
	border-bottom-left-radius: var(--small-radius);
	border-bottom-right-radius: var(--small-radius);
	margin-top: 12px;
	margin-bottom: calc(-1 * var(--gap-sm));
	margin-left: calc(-1 * var(--gap-sm));
	margin-right: calc(-1 * var(--gap-sm));
}

.frm-cta h4 {
	font-weight: 600;
	margin-top: 0;
	margin-bottom: var(--gap-2xs);
}

.frm-cta-green {
	background-color: var(--success-25);
}

.frm-cta-green .frm-banner-title {
	gap: calc(var(--gap-2xs) + 1px);
	color: var(--grey-700);
}

.frm-cta-green.frm-cta-border {
	border-color: var(--success-100)
}

.frm-cta-green.frm-cta-border .frm-cta-footer {
	border-color: var(--success-100);
}

.frm-cta-red {
	background-color: var(--error-25);
}

.frm-cta-red.frm-cta-border {
	border-color: var(--error-100);
}

.frm-cta-icon {
	padding: 3px 15px 3px 0;
	border-right: 1px solid currentColor;
}

#frm-upgrade-banner {
	gap: 0;
}

#frm-upgrade-banner .frm-cta-icon + .frm-cta-content {
	margin-right: auto;
	padding-left: 15px;
}

#frm-upgrade-banner.frm-gradient h4,
#frm-upgrade-banner.frm-gradient p {
	color: currentColor;
}

#frm-upgrade-banner.frm-gradient h4 {
	font-size: 16px;
	font-weight: 600;
}

#frm-upgrade-banner.frm-gradient p {
	font-size: 14px;
}

.frm-right-panel .inside .frm_pro_tip,
.frm_pro_tip {
	color: var(--grey-700);
	background: #FFE7DE;
	margin: 0 auto;
	display: flex;
	gap: var(--gap-xs);
}

.frm_field_list .frm_pro_tip {
	margin: 10px 15px;
	position: relative;
	width: calc(100% - 30px);
	box-sizing: border-box;
	font-size: 14px;
}

.frm_pro_tip .frmsvg,
.frm_pro_tip i {
	color: var(--orange);
}

.frm-tip-info {
	flex: 1;
	text-align: left;
}

.frm-tip-cta {
	color: var(--orange);
}

.frm-gradient .frm-tip-cta,
.frm-light-tip .frm-gradient .frm-tip-cta {
	color: currentColor;
	font-weight: 700;
}

.frm-tip-badge {
	font-size: 9px;
	font-weight: 700;
	text-transform: uppercase;
	color: #1E63D5;
	background-color: #fff;
	line-height: 1;
	border-radius: 4px;
	padding: 3px 4px;
}

.frm-light-tip .frm_pro_tip {
	background: var(--primary-25);
}

.frm-light-tip .frm_pro_tip .frmsvg,
.frm-light-tip .frm_pro_tip i,
.frm-light-tip .frm-tip-cta {
	color: var(--primary-500);
}

.nav-tab-wrapper .frm_pro_tip {
	float: right;
}
/* End call-to-action */

/* Start confirm and form templates modals */
#frm-form-templates-modal textarea {
	height: 108px;
}

#frm-form-templates-modal .frm-fields button.btn {
	border-color: var(--grey-300);
	color: var(--grey-900);
	cursor: pointer;
}

#frm-form-templates-modal .frm-fields button.btn .frmsvg  {
	color: var(--grey-400);
	width: 14px;
	height: 14px;
}

#frm-form-templates-modal .frm-form-templates-modal-fieldset {
	position: relative;
}

#frm-form-templates-modal .frm-form-templates-modal-fieldset .frm-with-left-icon .frmsvg {
	padding: 0;
	top: 0;
	left: 13px;
}

/* Fixes pro issue #3508, prevent a conflict that hides the postbox in modal */
#frm-form-templates-modal .postbox {
	display: block !important;
}

/* Leave email modal */
#frm_empty_inbox #frm-leave-email-modal {
	margin-top: var(--gap-2xl);
}

/* Name your form modal */
#frm-name-your-form-modal .frm_modal_top {
	padding-top: var(--gap-sm);
}
/* End confirm and form templates modals */

/* Field Group Message */
#frm-field-group-message {
	position: absolute;
	bottom: 32px;
	right: calc(50% - var(--biggest-sidebar));
	padding: var(--gap-xs) var(--gap-sm);
	border-radius: 100px;
	background-color: var(--primary-25);
}

#frm-field-group-message .frm-field-group-message-text {
	gap: 10px;
	color: var(--grey-800);
}

#frm-field-group-message-dismiss {
	margin-left: var(--gap-xs)
}

#frm-field-group-message-dismiss .frmsvg {
	color: var(--grey-800);
	width: 15px;
	height: 15px;
	cursor: pointer;
	transition: color 300ms ease-in-out;
}

#frm-field-group-message-dismiss .frmsvg:hover {
	color: var(--grey-500);
}
/* End Field Group Message */

/* Start card layout */
.frm-card-item {
	display: flex;
	border: 1px solid var(--grey-200);
	border-radius: var(--small-radius);
	padding: var(--gap-sm);
	box-shadow: var(--box-shadow-xs);
	background: #FFFFFF;
}
.frm-card-item:not(.frm-counter-card) {
	gap: 10px;
}
.frm-compact-card-item {
	padding: var(--gap-sm) 35px 10px 35px;
}
/* End card layout */

/* Pirate forms importer */
#welcome-panel:has(#frm_form_pf_importer) {
	background-color: #fff;
	margin: var(--gap-sm) var(--gap-md) var(--gap-md);
	line-height: 2;
}

#welcome-panel:has(#frm_form_pf_importer) .welcome-panel-content {
	text-align: start !important;
	min-height: unset;
	display: block;
}

#frm_form_pf_importer div {
	margin: 10px 0 !important;
}

#frm_form_pf_importer button {
	border: 1px solid var(--primary-500);
	padding: 7px 16px;
	min-height: 28px;
	line-height: var(--leading);
	margin-bottom: 0;
	background: var(--primary-500);
	color: #fff !important;
}

#frm_form_pf_importer button:hover {
	background: #135e96;
	border-color: #135e96;
}
/* End Pirate forms importer */

/* Start Option Box */
.frm-option-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	font-weight: 500;
	background-color: #fff;
	padding: 12px var(--gap-sm);
	border: 1px solid var(--grey-200);
	border-radius: var(--small-radius);
	margin-bottom: var(--gap-xs);
	transition: background-color 100ms ease-out;
	cursor: pointer;
}

.frm-option-box:hover {
	background-color: var(--grey-25);
}

.frm-option-box.frm-checked {
	background-color: var(--primary-25);
	border-color: var(--primary-200);
}

.frm-option-box.frm-disabled {
	cursor: default;
}

.frm-option-box input[type="checkbox"] {
	margin: 0;
}

.frm-option-box.frm-disabled input[type="checkbox"] {
	opacity: 0.5;
}

.frm-option-box .frm_help .frmsvg {
	width: 12px;
	height: 12px;
}
/* End Option Box */

/* Start Validation Error */
.frm-validation-error:not(.frm_hidden) {
	display: flex;
}

.frm-validation-error {
	gap: calc(var(--gap-xs) + var(--gap-2xs));
}

.frm-validation-error span {
	color: var(--error-500);
}

.frm-validation-error span[frm-error] {
	display: none;
}

.frm-validation-error[frm-error="empty"] span[frm-error="empty"],
.frm-validation-error[frm-error="invalid"] span[frm-error="invalid"],
.frm-validation-error[frm-error="custom"] span[frm-error="custom"] {
	display: inline-block;
}

/* Start Box Styles */
.frm-box {
	padding: var(--gap-sm);
	border: 1px solid var(--grey-200);
	border-radius: var(--small-radius);
}
/* End Box Styles */

/* Start External Link Styles */
.frm-link-with-external-icon {
	display: flex;
	align-items: center;
	gap: var(--gap-2xs);
	font-size: var(--text-xs);
}

.frm-link-with-external-icon .frmsvg {
	width: 16px;
	height: 16px;
	transform: rotate(45deg);
}
/* End External Link Styles */

/**
 * Page Skeleton CSS
 *
 * Manages the layout and appearance of the page's content area.
 */

/* Core Styles for the Page */
#wpbody-content .frm-page-skeleton ul,
#wpbody-content .frm-page-skeleton li {
	margin: 0;
}

/* Sidebar Styles */
#wpbody-content .frm-page-skeleton .frm-right-panel {
	padding: 2px;
	overflow-y: initial;
}

/* Scrollbar */
#wpbody-content .frm-page-skeleton .frm-scrollbar-wrapper {
	padding: var(--gap-md) var(--gap-sm);
}

/* Search */
#wpbody-content .frm-page-skeleton .frm-search {
	float: none;
	padding: 0 var(--gap-2xs);
}

#wpbody-content .frm-page-skeleton .frm-search > input {
	width: 100%;
}

/* Categories */
.frm-page-skeleton-cat {
	cursor: pointer;
	padding: var(--gap-xs);
	border-radius: var(--small-radius);
	background-color: transparent;
	transition: background-color 250ms ease-out;
}

.frm-page-skeleton-cat:hover {
	background-color: var(--grey-100);
}

.frm-page-skeleton-cat > * {
	z-index: 2;
}

.frm-page-skeleton-cat-text {
	color: var(--grey-900);
	text-transform: capitalize;
}

.frm-page-skeleton-cat-count {
	color: var(--grey-400);
}

.frm-current .frm-page-skeleton-cat-text,
.frm-current .frm-page-skeleton-cat-count {
	color: var(--primary-500);
}

/* Page Content Styles */
.frm-list-grid-layout {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(303px, 1fr));
	grid-auto-rows: max-content;
	gap: var(--gap-sm);
}

.frm-list-grid-layout > * {
	grid-column: span 1;
}

/* Empty State Styles */
#frm-page-skeleton-empty-state {
	height: 100%;
	margin-top: calc(-1 * var(--gap-md));
}

#frm-page-skeleton-empty-state .frm-page-skeleton-text {
	max-width: 420px;
}

/* Helper Classes */
.frm-page-skeleton-divider {
	border-top: 1px solid var(--grey-200);
	margin: 0;
}

/* Always hide submit field button */
.field_type_list .frm_tsubmit {
	display: none !important;
}
/* End always hide submit field button */

/* Prevent additional accordion arrows from appearing */
#frm_style_sidebar .accordion-section-title::after,
#frm_view_editor_left .accordion-section-title::after {
	content: "";
}
