.post-type-frm_display #frm_adv_info {
	width: calc( var(--big-sidebar) - 40px );
	height: calc( 100vh - 32px );
	overflow: hidden;
}

.post-type-frm_display #frm_adv_info:not(.frm_fixed) {
	top: 0 !important;
}

.post-type-frm_display #frm_adv_info.frm_fixed {
	position: fixed;
	z-index: 9999;
	top: 32px;
}

.post-type-frm_display #frm_adv_info ul.frm_code_list.frm-full-hover {
	max-height: calc( 100vh - 180px );
}

.frm_col_one {
	margin-right: 4%;
	clear: both;
}

ul .frm_col_one {
	float: left;
}

ul .frm_col_two {
	float: right;
}

ul.frm_two_col {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: var(--gap-sm);
}

.frm_two_col li {
	margin-bottom: 0;
}

.frm-info-modal a,
.frm-info-modal ul,
.frm-info-modal p,
.frm-info-modal,
.settings-lite-cta a,
.settings-lite-cta ul,
.settings-lite-cta {
	color: var(--grey-500);
	font-size: var(--text-md);
	box-shadow: none !important;
}

.frm-info-modal h3,
.settings-lite-cta h3 {
	font-size: 17px !important;
}

.frm-green-icons .frmsvg {
	color: var(--green);
}

.frm-info-modal .postbox .inside,
.settings-lite-cta .postbox .inside {
	padding: var(--gap-md);
	margin: 0;
}

.cta-inside a {
	color: var(--orange)
}

.info-modal-inside a.frm-standard-link {
	color: var(--primary-500);
}

.info-modal-inside a.frm-standard-link:hover {
	color: var(--primary-700);
}

.frm_no_p_margin > p {
	margin: 0;
}

.frm_code_list a.button {
	display: block;
	text-align: center;
	font-size: 11px;
	overflow: hidden;
}

#frm-navbarDrop + .frm_code_list.frm-full-hover {
	margin: var(--gap-xs) 0 0;
	min-width: 300px;
	max-height: calc( ( 40px * 5 ) + 56px );
}

.frm_code_list.frm-full-hover li {
	margin: 0;
}

.frm-select-list-item,
.frm_wrap .ui-autocomplete li > div,
.multiselect-container button.multiselect-option,
.frm-dropdown-menu > .dropdown-item > a,
.frm-dropdown-menu > .dropdown-item > a:visited,
.frm-dropdown-menu > .dropdown-item > a:link, /* Override jQuery UI */
.frm-dropdown-menu .frm_dropdown_li,
.frm_code_list.frm-full-hover a {
	display: flex;
	color: var(--grey-700);
	padding: 5px 10px;
	font-size: var(--text-md);
	gap: var(--gap-xs);
	align-items: center;
}
.multiselect-container button.multiselect-option.disabled {
	opacity: 0.5;
}
.frm_code_list.frm-full-hover a span {
	max-width: 83px;
	margin-right: var(--gap-xs);
	margin-left: auto;
}

.frm-single-settings .frm_code_list.frm-full-hover a {
	display: block;
}

.frm_code_list.frm-full-hover a,
.frm_code_list.frm-full-hover a span {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.frm_code_list.frm-full-hover.frmcenter a {
	display: block;
}

#frm-layout-classes frm-full-hover a span {
	max-width: 45%;
}

.frm-select-list-item.active,
.frm-select-list-item:hover,
.frm_wrap .ui-autocomplete li div.ui-state-active,
.frm_wrap .ui-autocomplete li.ui-state-focus,
.multiselect-container button.multiselect-option.active,
.multiselect-container button.multiselect-option:hover,
.frm-dropdown-menu > .dropdown-item > a:hover,
.frm_code_list.frm-full-hover a:hover span,
.frm_code_list.frm-full-hover a:hover {
	background: var(--primary-25);
	color: var(--primary-500);
	border-radius: var(--small-radius);
}

.frm-select-list-item .frmsvg,
.frm-dropdown-menu > .dropdown-item > a .frmsvg {
	opacity: .8;
}

.frm-select-list-item:hover .frmsvg,
.frm-dropdown-menu > .dropdown-item > a:hover .frmsvg {
	opacity: 1;
}

.frm-dropdown-menu.frm_code_list > li > a {
	padding: 3px 15px;
	width: 300px;
}

#frm_edit_box_content_modal .frm-with-search, /* Temp. Add .frm-dropdown-menu in Views */
.frm-dropdown-menu .frm-with-search {
	padding: var(--gap-xs) 10px 0;
}

.frm-dropdown-menu .subsubsub {
	padding: 0 10px;
}

.frm_grid_container {
	overflow: visible;
}

.frm_code_list.frm_grid_container {
	grid-gap: 5px;
}

.frm_code_list.frm_grid_container li {
	width: auto;
	margin: 0;
}

.frm_code_list.frm_grid_container a {
	padding: 5px 0;
	text-align: center;
	background-color: var(--light-blue);
	border: 1px solid var(--primary-500);
	color: var(--primary-500);
	display: block;
	border-radius: var(--small-radius);
}

.frm_code_list.frm_grid_container a:hover {
	background-color: var(--primary-700);
	color: #fff;
}

.frm_field_list #frm-insert-fields .button a {
	display: block;
	max-width: 95%;
	overflow: hidden;
}

.field_type_list.frm_grid_container {
	gap: var(--gap-xs) var(--gap-sm);
	margin: var(--gap-xs);
}

.field_type_list li {
	margin: 0;
	padding: 0;
}

#frm-insert-fields .frm-search {
	float: none;
	margin: 15px 20px;
	width: auto;
}

#frm-insert-fields li,
#frm-insert-fields li a {
	text-decoration: none;
	font-weight: normal;
	font-size: var(--text-md) !important;
	color: var(--grey-900);
}

#frm-insert-fields li.frm_show_upgrade {
	cursor: pointer;
	opacity: .5;
}

#frm-insert-fields li span {
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	text-align: left;
}

.frmbutton.ui-draggable-dragging a,
#frm-insert-fields li a:not(.disabled):hover {
	background: var(--grey-100);
}

#frm-insert-fields li a.disabled:hover {
	cursor: not-allowed;
}

#frm-insert-fields li.ui-draggable-disabled {
	opacity: 0.5;
}

.frm_code_list {
	clear: both;
}

.frm_code_list.frm-full-hover a.frm_hidden,
.frm_code_list .frmkeys {
	display: none;
}

.frmsvg {
	fill: currentColor;
	width: 18px;
	height: 18px;
	vertical-align: middle;
}

input[disabled],
.frmsvg svg {
	pointer-events: none;
}

.frmsvg.frm_svg40 {
	width: 40px;
	height: 40px;
}

.frmsvg.frm_svg20 {
	width: 20px;
	height: 20px;
}

.frmsvg.frm_svg15 {
	width: 15px;
	height: 15px;
}

.frmsvg.frm_svg14 {
	width: 14px;
	height: 14px;
}

.frmsvg.frm_svg13 {
	width: 13px;
	height: 13px;
}

.frmsvg.frm_svg9 {
	width: 9px;
	height: 9px;
}

.frmbutton.ui-sortable-helper .frmsvg,
.field_type_list li.frmbutton .frmsvg,
.frmbutton.ui-sortable-helper i,
.field_type_list li.frmbutton i,
.frm_code_list a .frmsvg,
.frm_code_list a i {
	color: var(--grey-500);
	display: inline-block;
	vertical-align: middle;
	width: var(--text-md);
	font-size: var(--text-md);
}

/* Standardize icon size for field buttons in the builder */
.field_type_list li.frmbutton .frmsvg {
	width: var(--text-xl);
	font-size: var(--text-xl);
}

.frm_code_list i:before {
	font-size: inherit;
}

#frm-insert-fields li a:not(.disabled):hover .frmsvg,
#frm-insert-fields li a:not(.disabled):hover i {
	color: var(--grey-600);
}

/* Icon while dragging */
.frmbutton.ui-draggable-dragging {
	pointer-events: none;
}

#frm-insert-fields li.frm_show_upgrade,
#frm-insert-fields li a,
.frmbutton.ui-draggable-dragging a {
	text-decoration: none;
	display: inline-flex !important;
	gap: var(--gap-xs);
	align-items: center;
	border-radius: var(--border-radius) !important;
	padding: var(--gap-xs) var(--gap-sm) !important;
	color: var(--grey-900) !important;
}

/* Adjust field button size to full width in builder */
#frm-insert-fields li a {
	display: flex !important;
}

/* Prevents advanced fields from always appearing in search results */
#frm-insert-fields li.frm_show_upgrade.frm_hidden {
	display: none !important;
}

.frmbutton.ui-draggable-dragging a {
	border: 1px solid var(--grey-300);
	box-shadow: var(--box-shadow-md);
}

.frmbutton.ui-draggable-dragging span {
	font-size: 15px;
}

#frm-show-fields .frmbutton.ui-sortable-helper i,
.frmbutton.ui-draggable-dragging i,
.frmbutton.ui-draggable-dragging .frmsvg {
	color: #fff !important;
}

.frmbutton.ui-draggable-dragging i,
.frmbutton.ui-draggable-dragging .frmsvg {
	color: var(--grey-700) !important;
}

.frm_sorting li.ui-state-default.ui-sortable-helper,
.frmbutton.ui-sortable-helper {
	transition: opacity .2s;
	opacity: 1;
}

/* End dragging */

li.frm_noallow.button,
.frm_noallow {
	opacity: .5;
}

.frm_actions_list a.frm_show_upgrade.frm_inactive_action:before,
li.frm_noallow.button.frm_show_upgrade {
	cursor: pointer;
}

.field_type_list li.frm_noallow.button.frm_show_upgrade:hover {
	border-color: inherit;
}

.frm_noallow a {
	color: inherit;
}

#frm_upgrade_modal_image {
	max-width: 200px;
}
#frm_upgrade_modal .frm-upgrade-message img {
	margin-top: 10px;
	width: 100%;
}
.frm-tab-message {
	max-width: 600px;
	margin: 20px auto;
	color: rgba(63, 75, 91, 0.8);
}

.frm-settings-screenshot-toolbar {
	min-height: 39px;
	display: flex;
}

.frm-settings-screenshot-toolbar .frm-minmax-icon {
	height: 8px;
	width: 8px;
	border-radius: 50%;
	align-self: center;
	margin-left: 10px;
}

.frm-settings-screenshot-toolbar .frm-minmax-icon:first-of-type {
	margin-left: 20px;
}

.frm-settings-screenshot-toolbar img {
	object-fit: contain;
	align-self: flex-end;
	margin-left: 25px;
}

.frm-settings-screenshot-toolbar + div {
	background: #fff;
	padding-top: 25px;
	border-radius: 0 0 16px 16px;
}

.frm-settings-screenshot-toolbar + div img {
	max-width: calc( 100% - 40px );
}

.frm-settings-screenshot-wrapper {
	max-width: 700px;
	margin: 50px auto 0;
	box-shadow: 0px 4px 4px rgba(189, 196, 205, 0.25), 0px 12px 56px rgba(42, 57, 75, 0.25);
	border-radius: 16px;
	background: #EBECF1;
}

.frm-dialog {
	z-index: 100;
	padding: 0 !important;
	border-radius: 16px;
	border: none;
	background-color: #fff;
	max-width: 100% !important;
}

.frm-dialog .postbox {
	background: transparent;
	box-shadow: none;
	border: none;
	line-height: var(--leading);
}

.frm-dialog input[type=text],
.frm-dialog textarea {
	font-size: var(--text-md);
}

.frm-dialog textarea {
	height: 75px;
}

.frm-dialog button.frm-button-primary {
	margin-right: 10px;
}

.frm-dialog .frm-sub-label,
.frm-sub-label {
	color: var(--grey);
	text-transform: none;
	padding-left: 8px;
}

h2 .frm-sub-label {
	font-size: var(--text-md);
}

.frm-views-editor-body .ui-widget-overlay,
.frm-white-body .ui-widget-overlay,
.toplevel_page_formidable .ui-widget-overlay,
body[class*=formidable-payments] .ui-widget-overlay,
body.plugins-php .ui-widget-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--grey-500);
	opacity: .5;
	z-index: 2;
}

.frm-circled-icon {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: var(--primary-25);
}

.frm-circled-icon-large {
	width: 80px;
	height: 80px;
}

.frm-circled-icon-green {
	background-color: var(--success-50);
}

.frm-circled-icon .frmsvg {
	width: 21px;
	height: 24px;
}

.frm-circled-icon-large .frmsvg {
	width: 24px;
}

.frm-circled-icon .frmsvg use {
	color: var(--primary-500);
 }

.frm-circled-icon-green .frmsvg use {
	color: var(--success-500);
}

.frm-border-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border: 1px solid var(--grey-300);
	border-radius: var(--small-radius);
}

.frm-upgrade-message img {
	max-width: 100%;
}

a.frm-link-secondary {
	color: #c4c4c4;
	font-size: var(--text-sm);
	text-decoration: underline;
}

.field_type_list li.button.frm_noallow,
.field_type_list li.button.frm_noallow:hover,
.button.frm_noallow,
.button.frm_noallow:hover {
	color: inherit;
	border-color: #ccc;
	background: inherit;
}

iframe#dyncontent_ifr {
	min-height: 150px;
}

/*!
 * Bootstrap v4.6.1
 */

.tooltip {
	/* Copied from Bootstrap */
	position: absolute;
	display: block;
	margin: 0;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	letter-spacing: normal;
	word-break: normal;
	word-spacing: normal;
	white-space: normal;
	line-break: auto;
	font-size: 0.875rem;
	word-wrap: break-word;
	opacity: 0;

	/* Custom rules */
	z-index: 9999999;
	pointer-events: none;
}

.tooltip.show {
	opacity: 0.9;
}

.tooltip .arrow {
	position: absolute;
	display: block;
	width: 0.8rem;
	height: 0.4rem;
	margin-left: 0 !important;
}

.tooltip .arrow::before {
	position: absolute;
	content: "";
	border-color: transparent;
	border-style: solid;
}

.bs-tooltip-top, .bs-tooltip-auto[x-placement^="top"] {
	padding: 0.4rem 0;
}

.bs-tooltip-top .arrow, .bs-tooltip-auto[x-placement^="top"] .arrow {
	bottom: 0;
}

.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
	top: 0;
	border-width: 0.4rem 0.4rem 0;
	border-top-color: #000;
}

.bs-tooltip-right, .bs-tooltip-auto[x-placement^="right"] {
	padding: 0 0.4rem;
}

.bs-tooltip-right .arrow, .bs-tooltip-auto[x-placement^="right"] .arrow {
	left: 0;
	width: 0.4rem;
	height: 0.8rem;
}

.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
	right: 0;
	border-width: 0.4rem 0.4rem 0.4rem 0;
	border-right-color: #000;
}

.bs-tooltip-bottom, .bs-tooltip-auto[x-placement^="bottom"] {
	padding: 0.4rem 0;
}

.bs-tooltip-bottom .arrow, .bs-tooltip-auto[x-placement^="bottom"] .arrow {
	top: 0;
}

.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
	bottom: 0;
	border-width: 0 0.4rem 0.4rem;
	border-bottom-color: #000;
}

.bs-tooltip-left, .bs-tooltip-auto[x-placement^="left"] {
	padding: 0 0.4rem;
}

.bs-tooltip-left .arrow, .bs-tooltip-auto[x-placement^="left"] .arrow {
	right: 0;
	width: 0.4rem;
	height: 0.8rem;
}

.bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
	left: 0;
	border-width: 0.4rem 0 0.4rem 0.4rem;
	border-left-color: #000;
}

.tooltip-inner {
	max-width: 200px;
	padding: 0.25rem 0.5rem;
	color: #fff;
	text-align: center;
	background-color: #000;
	border-radius: 0.25rem;
}

.frm-dropdown-menu.show {
	display: block;
}

/* End Bootstrap */

.preview.dropdown .dropdown-menu {
	min-width: 205px;
}

.frm_clear {
	clear: both;
}

.frm_clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.frm_clearfix {
	display: block;
}

.frm_admin_progress {
	overflow: hidden;
	height: 20px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border-radius: 4px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.frm_admin_progress_bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #ffffff;
	text-align: center;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	transition: width 0.6s ease;
	background-color: #04A4CC;
}

.tooltip.frm_tooltip {
	position: fixed;
	top: auto !important;
	bottom: 0 !important;
	left: 0 !important;
	max-width: none;
	width: 100% !important;
	z-index: 99999;
}

.tooltip.frm_tooltip.bottom {
	padding: 0;
}

.frm_tooltip .tooltip-inner {
	max-width: none;
	min-height: 40px !important;
	text-align: left;
	box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
	padding: 10px 40px;
	border-top-color: #ccc;
	background: var(--sidebar-color);
	color: var(--grey-700);
	border-radius: 0;
	opacity: 1;
	font-size: var(--text-sm);
}

#frm_custom_css_box {
	width: 100%;
}

/*form inputs/selects */
.frm_form_field.frm_scroll_box .frm_opt_container,
.frm-white-body .wrap input[type="text"], /* Cover Views pages */
.frm-white-body .wrap input[type="search"],
.frm-white-body .wrap input[type="number"],
.frm-white-body .wrap select,
#frm-form-templates-modal select,
.frm-white-body .wrap textarea,
button.frm_choose_image_box,
#titlediv input[type="text"],
.frm-fields button.btn,
.frm_wrap textarea,
.frm_wrap input[type="tel"],
.frm_wrap input[type="text"],
.frm_wrap input[type="email"]
.frm_wrap input[type=search],
.frm_wrap input[type="number"],
.frm_wrap input[type="date"],
.frm_wrap select,
.wp-admin .frm_wrap select,
.field-group textarea,
.field-group input[type="text"],
.field-group select,
.frm-fields .frm-input-field {
	outline: 0;
	box-shadow: none;
	border-radius: var(--small-radius);
	padding: 5px 14px;
	border-color: var(--grey-300);
	color: var(--grey-800);
	font-size: var(--text-md);
	margin: 0;
	background-color: #fff;
	line-height: var(--leading);
}

.frm_input_with_suffix {
	border-radius: var(--small-radius);
	border: 1px solid var(--grey-300);
	display: inline-block;
	padding-right: 14px;
}

.frm_input_with_suffix input {
	border: 0 !important;
	padding-right: 5px !important;
}

.frm_wrap ::-webkit-datetime-edit {
	line-height: var(--leading);
}

.frm-white-body:not(.frm-admin-page-styles):not(.frm-admin-page-entries) textarea:focus,
.frm-white-body:not(.frm-admin-page-styles):not(.frm-admin-page-entries) input:focus,
.frm-white-body:not(.frm-admin-page-styles):not(.frm-admin-page-entries) select:focus,
.frm_wrap input:focus,
.frm_wrap select:focus,
.wp-core-ui .frm_wrap select:focus,
#frm-form-templates-modal select:focus,
.frm-btn-group .multiselect.dropdown-toggle:focus,
.frm_wrap textarea:focus {
	border-color: var(--primary-500) !important;
	box-shadow: none !important;
}

/*
Pages like Entries and Styles need the border-color and box-shadow properties without the !important flag.
To achieve this, we exclude them above and duplicate these rules specifically for those pages without using !important.
*/
.wp-admin .frm_fields_container textarea:focus,
.wp-admin .frm_fields_container input:focus,
.wp-admin .frm_fields_container select:focus {
	border-color: var(--primary-500);
	box-shadow: none;
}

#postbox-container-2 textarea,
.frm_wrap textarea,
.field-group textarea {
	line-height: 2;
}

.frm_wrap input[type="number"] {
	height: auto;
}

.frm_wrap select {
	padding: 2px;
}

.wp-admin .frm_wrap select,
#frm-form-templates-modal select {
	max-width: 100%;
}

.frm_form_field.frm_scroll_box .frm_opt_container {
	padding: 10px 12px;
}

.frm_wrap input[disabled],
.frm_wrap select[disabled],
.frm_wrap textarea[disabled],
.frm_wrap input[readonly],
.frm_wrap select[readonly],
.frm_wrap textarea[readonly],
.frm_wrap input::placeholder {
	color: var(--grey-500);
}

.frm_wrap .frm-button-primary.frm-disabled {
	opacity: 0.5;
	cursor: default;
}

#postcustomstuff table td > div {
	/* To override some inline css in add-on */
	padding-top: 0 !important;
}

.wp-admin .frm_wrap .form-table select {
	vertical-align: top;
}

.frm_wrap .frm_form_builder select {
	line-height: var(--leading);
	height: var(--text-md);
	width: 100%;
}

#postbox-container-2 select,
.wp-admin .frm_wrap select,
.frm_wrap .frm_form_builder select,
#frm-form-templates-modal select {
	height: auto;
	background-position: right 11px top 55%;
}

.frm-white-body .tablenav select,
.frm-white-body .tablenav input[type="text"],
.wp-admin .frm_wrap .tablenav select,
.frm_wrap .tablenav input[type="date"],
.frm_wrap .tablenav input[type="text"] {
	padding-top: 0;
	padding-bottom: 0;
	line-height: 1;
}

.frm_wrap .tablenav ::-webkit-datetime-edit {
	line-height: 1;
}

.frm-fields button.btn,
.frm-fields textarea,
.frm-fields input[type="text"],
.frm-fields select,
.field-group textarea,
.field-group input[type="text"],
.field-group select,
.accordion-container input.hex,
.frm-fields .frm-input-field {
	width: 100%;
	outline: 0;
}

.frm-fields button.btn {
	height: var(--h-md);
	text-align: inherit;
}

.global-font .field-group input[type="text"] {
	width: auto;
}

/* Image Options */

.frm_images_dropdown .frm_image_option {
	margin: 0 !important;
}

.frm_images_dropdown .frm_radio input[type=radio] {
	opacity: 0;
	position: absolute;
	z-index: -1;
}

.frm_images_dropdown__image .frmsvg {
	width: 100%;
	max-width: 102px;
	fill: none;
	margin: 0;
}

.frm_images_dropdown .frm_noallow .frm_image_option_container {
	opacity: .5;
}

.frm_images_dropdown .frm_image_option_container {
	border-radius: var(--small-radius);
	border: 2px solid transparent;
	align-items: center;
}

.frm_images_dropdown .frm_image_option_container:hover {
	background: #fff !important;
}

.frm_images_dropdown input[type="radio"]:checked + .frm_image_option_container {
	background: #fff !important;
	border-color: var(--primary-500);
}

.frm_images_dropdown .frm_text_label_for_image {
	padding: 0;
	text-align: left;
}

/* End Image Options */

/* Welcome page */

.wp-core-ui .frm_grey.frm-button-primary.disabled,
.wp-core-ui .frm_grey.frm-button-primary,
#frm-welcome .frm_grey {
	opacity: 0.5;
	background: #F6F6F6 !important;
	border-color: #ddd !important;
	color: #9FA5AA !important;
}

/* Chrome Scrollbars for Windows */
.windows::-webkit-scrollbar,
.windows ::-webkit-scrollbar {
	width: 7px;
	background: transparent;
}

.windows::-webkit-scrollbar-thumb,
.windows ::-webkit-scrollbar-thumb {
	background: var(--grey-300);
	-webkit-border-radius: var(--border-radius);
	-webkit-box-shadow: none;
}

.windows::-webkit-scrollbar-corner,
.windows ::-webkit-scrollbar-corner {
	background: transparent;
}

.frm-scrollbar-wrapper {
	overflow-x: hidden;
	overflow-y: auto; /* Enable scrolling */
	-ms-overflow-style: none; /* For IE and Edge */
	scrollbar-color: transparent transparent; /* Firefox Scrollbar - transparent by default and show on hover */
	scrollbar-width: thin;
}

.frm-scrollbar-wrapper:hover {
	scrollbar-color: var(--grey-300) var(--sidebar-color); /* Firefox Scrollbar - Show on hover */
}

.frm-scrollbar-wrapper::-webkit-scrollbar {
	width: 3px;
}

.frm-scrollbar-wrapper::-webkit-scrollbar-track {
	background: var(--sidebar-color);
}

.frm-scrollbar-wrapper::-webkit-scrollbar-thumb {
	background: transparent;
	border-radius: 100vw;
}

.frm-scrollbar-wrapper:hover::-webkit-scrollbar-thumb {
	background: var(--grey-300); /* Show scrollbar on hover */
}

.frm-scrollbar-wrapper::-webkit-scrollbar-thumb:hover {
	background: var(--grey-400); /* Show scrollbar on hover */
}
/* End scrollbar */

/* RTL */
.rtl h3 {
	font-weight: inherit !important;
}

.rtl.js .accordion-section-title:after {
	left: 10px;
	right: auto;
}

.rtl #frm_top_bar #frm_bs_dropdown {
	padding-left: 15px;
}

.rtl .frm-full-close,
.rtl .frm_wrap .columns-2 .frm-right-panel,
.rtl .frm-right-panel {
	border-right-width: 1px;
	border-left-width: 0;
}

.rtl .frm-full-close {
	padding-left: 0;
	padding-right: var(--gap-md);
}

.rtl .frm-text-right {
	text-align: left;
}

.rtl .frm_wrap #frm_adv_info ul.category-tabs li:first-child {
	border-left-width: 1px;
}

.rtl .frm-dropdown-menu {
	text-align: right;
}

.rtl .frm_actions_dropdown .frm_icon_font {
	float: right;
	margin-right: 0;
	margin-left: 3px;
}

.rtl #frm-insert-fields-box,
.rtl #frm-conditionals {
	padding-right: .9em;
}

.rtl #html_settings .frm_field_html_box {
	margin-right: 0;
}

.rtl .frm_list_entry_page h2 {
	float: right;
}

.rtl .frm_scale {
	float: right;
	margin-left: 10px;
	margin-right: 0;
}

.rtl .frm-page-break .frm-collapse-page.button {
	margin-left: 0;
	margin-right: 46%;
}

.rtl .frm-field-action-icons {
	right: unset;
	left: 2px;
}

.rtl .frm_has_shortcodes > i {
	right: auto;
	left: 5px;
}

.rtl p.frm_reply_to_container,
.rtl p.frm_bcc_cc_container {
	float: left;
}

.rtl .frm-default-switcher {
	float: left;
	position: relative;
}

.rtl .frm-with-right-icon .frmsvg {
	right: auto;
	left: 0;
}

.rtl .frm-inline-modal > a.dismiss {
	left: 13px;
	right: auto;
}

.rtl.wp-admin .frm_wrap select {
	padding-left: var(--gap-lg) !important;
	padding-right: 5px !important;
	background-position: left 11px top 55%;
}

.rtl .frm_code_list.frm-full-hover a span {
	margin-left: var(--gap-xs);
}

/* ---------------------------------------------------------------
Clearfix
--------------------------------------------------------------- */
span.clear {
	display: block;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

/*Override styling from other plugins*/
.frm_form_fields .clear {
	height: auto;
}

/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

#frm_small_device_message_container {
	display: none;
}

/* End hide from IE-mac */

/*-----------------------------------------------------------------
Responsive Design
---------------------------------------------------------------- */

@media only screen and (max-width: 1200px) {
	.frm-addons {
		grid-template-columns: 1fr 1fr;
	}
	#frm_top_bar h1 {
		min-width: 0; /* Reset the min-width to prevent menu items from stacking vertically */
	}
}

@media only screen and (max-width: 1050px) {
	.frm-white-body,
	.frm_wrap {
		--biggest-sidebar: 390px;
	}

	#form_settings_page .columns-2 {
		margin: 0;
	}

	.frm_actions_list {
		margin-left: 0;
	}

	#frm_bs_dropdown .frm_bstooltip {
		/* There isn't enough room for the title on a screen this size so just hide it. */
		display: none !important;
	}
}

@media only screen and (max-width: 960px) {
	.frm-white-body,
	.frm_wrap {
		--gap-sm: 8px;
		--gap-md: 16px;
		--gap-2xl: 24px;
	}

	.auto-fold #adminmenuwrap {
		width: 36px;
	}

	.frm_wrap #postbox-container-1 #frm_adv_info {
		min-width: 220px;
	}

	p.howto {
		display: inline-block;
	}

	/* Fix: Issue where the admin page content had extra white space to the left on small screens */
	.auto-fold.frm-admin-page-styles:not(.frm-full-screen) .frm_page_container,
	.auto-fold:not(.frm-full-screen) .frm_wrap .frm_page_container {
		left: 36px;
	}
}

@media only screen and (max-width: 850px) {
	.frm-white-body,
	.frm_wrap {
		--biggest-sidebar: 350px;
		--big-sidebar: 350px;
	}

	.frm_col_one {
		clear: none;
	}

	.frm-fields p > .frm_inline_label,
	.frm_inline_label {
		display: block;
		margin: 5px 0;
	}

	#frm_top_bar h1 {
		width: auto;
		max-width: 200px;
	}

	#frm-publishing {
		width: auto;
	}

	#frm_form_editor_container,
	.frm-entry-container {
		margin: 0 20px;
	}

	.frmbutton.ui-sortable-helper .frmsvg,
	.field_type_list li.frmbutton .frmsvg,
	.frmbutton.ui-sortable-helper i,
	.field_type_list li.frmbutton i {
		margin: .15em 0 .15em .1em;
		width: 25px;
	}

	.rtl .frmbutton.ui-sortable-helper .frmsvg,
	.rtl .field_type_list li.frmbutton .frmsvg,
	.rtl .frmbutton.ui-sortable-helper i,
	.rtl .field_type_list li.frmbutton i {
		margin: .15em .1em .15em 0;
	}

	.frm_wrap .frm-search {
		float: none !important;
		width: auto;
		clear: both;
	}

	.post-type-frm_display #frm_adv_info {
		top: auto !important;
		position: static;
		width: auto;
	}

	.frm_wrap .frm-right-panel #frm_adv_info,
	.frm_wrap #postbox-container-1 #frm_adv_info {
		min-width: 275px;
	}

	.frm_wrap #frm_adv_info ul.category-tabs li,
	.frm_wrap #frm_adv_info ul.category-tabs li.tabs {
		border: none;
	}

	.frm_wrap #frm_adv_info ul.category-tabs li:first-child {
		margin-left: 12px;
	}

	.frm_wrap #frm_adv_info ul.category-tabs li.tabs {
		border-bottom: 2px solid #5b9dd9;
		padding-bottom: 8px;
	}

	.post-type-frm_display #poststuff {
		padding: 10px 25px;
	}

	.post-type-frm_display #side-sortables .postbox {
		margin-bottom: 20px;
		border-radius: var(--small-radius);
		border-top-width: 1px;
	}

	#frm_top_bar .frm_form_nav {
		box-shadow: 0px -0.47px 10px 0px #1018280F;
	}

	#frm_top_bar ul.frm_form_nav {
		padding: 1em 0;
		position: fixed;
		bottom: 0;
		width: 100%;
		background: white;
		z-index: 99;
		transform: translate(-50%, 0);
		left: 50%;
	}

	.frm_page_container > .columns-2,
	#frm_styler_wrapper {
		padding-bottom: 64px;
	}

	#frm_style_preview .frm_floating_style_button:not(.frm_hidden) {
		position: static;
		display: inline-block;
	}

	.frm_wrap .columns-2 .frm-right-panel {
		padding-bottom: 0;
	}

	#frm-publishing {
		margin-left: auto;
	}

	#frm_top_bar > .frm-full-close:last-child {
		margin-left: 0;
	}
	#frm_bs_dropdown {
		display: block;
	}

	#frm_bs_dropdown .frm_bstooltip {
		display: block !important;
	}
}

@media only screen and (max-width: 782px) {
	.frm-white-body,
	.frm_wrap {
		--small-sidebar: 20%;
		--medium-sidebar: 35%
	}

	#form_settings_page .advanced_settings .form-table td, .form-table th {
		display: table-cell;
		width: auto !important;
	}

	.frm-white-body #publishing-action,
	.frm_wrap #publishing-action {
		line-height: normal;
	}

	.frm-white-body #screen-meta-links {
		display: none;
	}

	.frm_wrap .misc-pub-section {
		padding: 6px 0;
	}

	.frm_wrap .misc-pub-section > a {
		float: none;
		white-space: nowrap;
	}

	.frm-form-setting-tabs a {
		position: relative;
		padding: 10px 5px 10px 40px;
	}

	.frm-form-setting-tabs a .frmsvg,
	.frm-form-setting-tabs a i {
		position: absolute;
		left: 13px;
		top: calc(50% - 10px);
		margin: 0;
	}

	#frm-insert-fields .button,
	#frm-insert-fields .button a,
	.frmbutton.ui-sortable-helper a {
		line-height: 26px;
		max-height: 28px;
	}

	a.frm_add_logic_link {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
		box-sizing: border-box;
	}

	a.frm_add_logic_link:not([id^=logic_]) .frmsvg,
	a.frm_add_logic_link i {
		display: none;
	}

	#new_fields .frm_single_option select,
	#new_fields .frm_single_option input[type=text] {
		width: calc(100% - 83px);
	}

	.frm_single_entry_page .frm_form_fields input[type=text],
	.frm_single_entry_page .frm_form_fields select,
	.frm_single_entry_page .frm_form_fields textarea {
		width: 100%;
	}

	.with_frm_style .frm_radio input[type=radio],
	.with_frm_style .frm_checkbox input[type=checkbox] {
		width: 25px !important;
	}

	.frm_single_entry_page .with_frm_style .frm_radio input[type=radio],
	.frm_single_entry_page .with_frm_style .frm_checkbox input[type=checkbox] {
		width: 18px !important;
	}

	.wp-list-table.toplevel_page_formidable .column-entries,
	.wp-list-table.toplevel_page_formidable .column-form_key,
	.wp-list-table.toplevel_page_formidable .column-shortcode,
	.wp-list-table.toplevel_page_formidable .column-created_at {
		display: none !important;
	}

	.wp-list-table.toplevel_page_formidable td.column-entries,
	.wp-list-table.toplevel_page_formidable td.column-form_key,
	.wp-list-table.toplevel_page_formidable td.column-shortcode,
	.wp-list-table.toplevel_page_formidable td.column-created_at {
		padding: 3px 8px 3px 35%;
		text-align: left;
	}

	#form_entries_page .wp-list-table th.frm_hidden,
	#form_entries_page .wp-list-table td.frm_hidden {
		display: none !important;
	}

	.frm-white-body.auto-fold #wpcontent {
		padding-left: 0;
	}

	.frm_right_addon .frm_remove_field {
		bottom: 11px;
	}

	.frm-addons {
		grid-template-columns: 1fr;
	}

	.frm-admin-page-styles .frm_page_container,
	.frm_wrap .frm_page_container {
		left: 0 !important;
	}

	.frm_single_entry_page.frm_wrap .columns-2 {
		display: block;
		border-bottom: none;
	}

	.frm_single_entry_page .wrap.frm-with-margin {
		margin: 10px 20px;
	}

	.frm_single_entry_page #post-body-content + .frm-right-panel {
		width: auto;
		margin: 0 20px;
		border: 1px solid var(--sidebar-hover);
		border-radius: 6px;
	}

	#wp-content-media-buttons a.frm_insert_form {
		padding: 0 var(--gap-sm);
	}

	.frm-white-body input[type="checkbox"]:checked::before,
	.frm_wrap input[type="checkbox"]:checked::before {
		width: 1.2rem;
		height: 1.2rem;
	}
}

@media only screen and (max-width: 700px) {
	.frm-white-body,
	.frm_wrap {
		--biggest-sidebar: 50%;
		--big-sidebar: 50%;
	}
}

@media only screen and (max-width: 600px) {
	.frm-white-body,
	.frm_wrap {
		--small-sidebar: 45px;
	}

	.frm-form-setting-tabs a {
		visibility: collapse;
		font-size: 0;
		padding: 0 var(--gap-sm);
	}

	.frm-form-setting-tabs a .frmsvg,
	.frm-form-setting-tabs a i {
		visibility: visible;
		position: initial;
		font-size: 18px;
	}

	#frm_builder_page #frm-insert-fields {
		padding: 0;
	}

	.frm_wrap #frm_adv_info ul.category-tabs li {
		display: inline-block;
		padding: 0;
		margin: 2px 0;
		border-bottom: 2px solid transparent;
	}

	.frm_wrap #frm_adv_info ul.category-tabs li.tabs,
	.frm_wrap #frm_adv_info ul.category-tabs li:first-child {
		margin-left: 0;
		padding: 0;
	}

	.field_type_list li {
		text-align: center;
	}

	#frm-insert-fields li a {
		padding: 5px;
	}

	.frmbutton.ui-sortable-helper .frmsvg,
	.field_type_list li.frmbutton .frmsvg,
	.frmbutton.ui-sortable-helper i,
	.field_type_list li.frmbutton i {
		display: block;
		margin: 0 auto 3px;
		text-align: center;
	}

	#frm_form_editor_container .frm_primary_label {
		clear: both;
	}

	#frm_builder_page .frm_code_list a.button {
		padding: 2px;
	}

	#frm_builder_page .frm_actions_dropdown > .frm-dropdown-menu {
		right: 0;
		left: auto;
	}

	.frm-right-panel h3.accordion-section-title {
		padding-right: 10px;
		padding-left: 10px;
		font-size: 20px;
		white-space: nowrap;
		overflow: hidden;
	}

	.frm-right-panel .accordion-section-title:before {
		margin-left: 0;
		margin-right: 3px;
	}

	.rtl #frm_builder_page .frm_actions_dropdown > .frm-dropdown-menu {
		right: auto;
		left: 0;
	}

	.frm_on_submit_type svg {
		display: none;
	}
}

@media only screen and (max-width: 475px) {
	#frm_bs_dropdown {
		float: none;
	}

	#frm-nav-tabs {
		padding: 0;
		white-space: nowrap;
	}

	#frm-nav-tabs a {
		margin-right: 0;
	}

	#frm_small_device_message_container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: fixed;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 999999;
		background: var(--primary-500);
	}

	#frm_small_device_message {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 80%;
		padding: 1rem;
		background: #fff;
		border: solid 1px #fff;
		border-radius: var(--medium-radius);
	}

	#frm_small_device_message::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-78%, -65%);
		width: 900px;
		height: 900px;
		background-color: #0D7DFC;
		border-radius: 50%;
		z-index: -1;
		opacity: 0.3;
	}

	#frm_small_device_message > svg {
		padding-bottom: 1rem;
	}

	.toplevel_page_formidable #posts-filter,
	.post-type-frm_display #posts-filter {
		display: none;
	}
}

/* PRINT */
@media print {
	a, .misc-pub-section a {
		color: #000 !important;
	}

	.add-new-h2, #frm_top_bar, .dashicons,
	#adminmenuwrap, #adminmenuback, #wphead, #button_bar, #submitdiv, .button-secondary,
	#screen-metas, #screen-meta-links, #footer, #wpfooter, .inner-sidebar, .frm_form_nav,
	.frm_flash_graph, .frm_no_print, object, .error {
		visibility: hidden;
		display: none !important;
	}

	.widget, .postbox, .stuffbox, .postbox h3 {
		border-width: 0 !important;
		border-color: #fff;
	}

	.postbox {
		background: #fff !important;
		border: none;
		position: static;
	}

	.postbox h3, .postbox h4 {
		background: #fff !important;
	}

	#wpbody-content {
		float: none;
	}

	#wpcontent, #post-body-content,
	.has-right-sidebar #post-body,
	#poststuff .columns-2 {
		margin: 0 !important;
	}

	.frm_wrap #poststuff .columns-2 {
		display: block;
	}

	#post-body-content + .frm-right-panel,
	.frm_wrap .columns-2 .frm-right-panel,
	.frm-right-panel {
		border: none;
		width: auto;
		display: block;
		padding: 20px;
	}

	.frm_wrap .columns-2,
	.frm_wrap .frm_page_container {
		height: auto;
		display: block;
	}

	.misc-pub-section > span {
		padding: 0;
	}

	.frm-right-panel .postbox .inside {
		padding-left: 12px;
		padding-right: 12px;
	}

	.curtime #timestamp:before {
		display: none;
		content: none !important;
	}

	.frm_charts .alignleft {
		float: none;
	}

	.pg_odd, .pg_even {
		page-break-inside: avoid;
		max-width: 600px;
	}

	.form-table td, .form-table th {
		padding: 0;
	}

	.frm_file_container a {
		display: block;
		width: 100%;
	}
}

.frm-admin-page-styles #frm-publishing #save_menu_header,
.frm-admin-page-styles2 #frm-publishing #save_menu_header {
	display: inline-block;
}

/* Change the order of subfields of the Name field in the backend */
.edit_form_item .frm_combo_inputs_container[data-name-layout="last_first"] .frm_form_subfield-first {
	order: 2;
}

.frm-video-wrapper iframe {
	width: 100%;
	max-width: 843px;
	border-radius: var(--border-radius);
}

#frm_field_group_popup {
	position: absolute;
	top: 0;
	right: 0;
	width: 366px;
	max-height: 231px;
	border-radius: 8px;
	background: #fff;
	box-shadow: 0px 20px 48px rgba(40, 47, 54, 0.15);
	z-index: 3;
	box-sizing: border-box;
	padding: 24px 0;
	text-align: left;
}

.rtl #frm_field_group_popup {
	text-align: right;
}

.frm-merge-fields-into-row #frm_field_group_popup {
	top: unset;
	bottom: 50px;
	height: 196px;
}

#frm_field_group_popup > hr {
	margin: 12px 0;
}

#frm_field_group_popup .frm-cancel-custom-field-group-layout,
#frm_field_group_popup .frm-save-custom-field-group-layout {
	padding: 4px 18px;
}

#frm_field_group_popup .frm-cancel-custom-field-group-layout:hover {
	border-color: var(--primary-500) !important;
	color: var(--primary-500);
	background-color: transparent !important;
}

.frm-merge-fields-into-row #frm_field_group_popup .frm-break-field-group {
	display: none;
}

.frm-merge-fields-into-row > a {
	color: rgba(40, 47, 54, 0.85);
	position: relative;
	top: 2px;
}

.frm-row-layout-title {
	font-weight: 600;
	font-size: 11px;
	line-height: 15px;
	text-transform: uppercase;
	color: rgba(40, 47, 54, 0.45);
	margin-bottom: 27px;
}

.frm-row-layout-option {
	background: #F6F7FB;
	box-sizing: border-box;
	border-radius: 2px;
	padding: 15px 10px;
}

#frm_field_group_popup .frm-row-layout-option .frm_grid_container {
	grid-gap: 0 5%;
	grid-template-columns: repeat(12, auto);
}

#frm_field_group_popup .frm-row-layout-option {
	cursor: pointer;
	border: 2px solid transparent;
}

#frm_field_group_popup .frm-row-layout-option.frm-active-row-layout,
#frm_field_group_popup .frm-row-layout-option:hover {
	border-color: var(--primary-500);
}

.frm-custom-field-group-layout,
.frm-break-field-group {
	padding: 4px 24px;
	cursor: pointer;
	font-size: var(--text-sm);
	line-height: 19px;
	color: rgba(72, 78, 84, 1);
}

.frm-custom-field-group-layout:hover,
.frm-break-field-group:hover {
	background-color: #f5f5f5f5;
}

.frm-custom-field-group-layout svg,
.frm-break-field-group svg {
	margin-right: 5px;
}

#frm_field_multiselect_popup {
	background: white;
	height: 48px;
	position: fixed;
	border-radius: 4px;
	box-shadow: 0px 8px 24px rgba(40, 47, 54, 0.15);
	color: rgba(40, 47, 54, 0.85);
	font-size: 13px;
	right: 30px;
	bottom: 10px;
	z-index: 2;
}

#frm_field_multiselect_popup > div {
	display: inline-block;
	line-height: 48px;
	vertical-align: top;
}

#frm_field_multiselect_popup.frm-unmergable > .frm-merge-fields-into-row,
#frm_field_multiselect_popup.frm-unmergable > .frm-multiselect-popup-separator {
	display: none;
}

#frm_field_multiselect_popup > div:not(.frm-multiselect-popup-separator) {
	padding: 0 20px;
	cursor: pointer;
}

#frm_field_multiselect_popup > div:not(.frm-multiselect-popup-separator):hover {
	background: #f5f5f5f5;
}

.frm-builder-popup-heading {
	font-weight: 600;
	font-size: 11px;
	line-height: 15px;
	text-transform: uppercase;
	color: rgba(40, 47, 54, 0.45);
	margin-bottom: 7px;
}

.frm-builder-popup-subheading {
	font-size: 12px;
	line-height: 16px;
	color: rgba(40, 47, 54, 0.45);
}

#frm_field_group_popup input[type="text"] {
	height: 30px;
	border-radius: 3px;
	font-size: 14px;
	padding: 8px;
	color: rgba(84, 95, 110, 1);
	border-color: rgba(40, 47, 54, 0.2);
}

.frm-multiselect-popup-separator {
	height: 36px;
	width: 1px;
	position: relative;
	top: 6px;
	background: #C4C4C4;
}

.frm-sortable-helper,
.frm-multiselect-key-is-down li.form-field:not(.edit_field_type_divider) {
	pointer-events: none;
}

.frm-sortable-helper {
	/* Make sure the item being dragged appears above other form builder fields */
	z-index: 99;
}

#frm_banner {
	width: 100%;
	color: #fff;
	background: var(--primary-500);
	height: 40px;
	line-height: 40px;
	text-align: center;
	position: relative;
}

.frm-banner-emoji {
	font-size: 19px;
}

.frm-banner-emoji,
.frm-banner-title {
	margin-right: 5px;
	vertical-align: top;
}

.frm-banner-cta a {
	text-decoration: underline !important;
}

#frm_banner .frm-banner-cta a.frm_inbox_dismiss {
	display: none;
}

.frm-banner-dismiss {
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY( -50% );
}

.frm-banner-dismiss .frmsvg {
	vertical-align: top;
}

.frm-ready-made-solution:not(.frm-search-result) {
	display: none !important;
}

#frm_leave_email_wrapper .frmsvg {
	top: 0;
}

#frm-add-my-email-address {
	margin-top: 30px;
}

.frm-ready-made-solution h3 ~ a {
	color: var(--primary-500);
}

.frm-ready-made-solution img {
	max-width: 100%;
	display: block;
	box-shadow: var(--box-shadow-lg);
}

/* On Submit action */
.frm_single_on_submit_settings .frm_form_field {
	margin: 22px 0;
}

.frm_on_submit_type_setting {
	padding: 8px 0;
}

.frm_on_submit_type label {
	display: flex;
	border: 1px solid var(--grey-border);
	border-radius: var(--small-radius);
	gap: 16px;
	padding: 16px;
	align-items: center;
	justify-content: center;
}

.frm_on_submit_type input {
	opacity: 0 !important;
	position: absolute;
	z-index: -1;
}

.frm_on_submit_type input[type="radio"]:checked + label {
	border-color: var(--primary-color);
	box-shadow: 0 0 0 1px var(--primary-color);
}

#form_settings_page .frm_on_submit_type label:hover,
.frm_on_submit_type input[type="radio"]:checked + label svg {
	color: var(--primary-color);
}
/* End On Submit action */

/* Start call-to-action */
.frm_pro_tip,
.frm-cta {
	justify-content: space-between;
	align-items: center;
	gap: var(--gap-2xl);
	padding: var(--gap-xs) var(--gap-sm);
	border-radius: var(--small-radius);
	background: var(--primary-25);
}

.frm-cta.frm-cta-border {
	border: 1px solid var(--primary-200);
}

.frm-cta.frm-cta-border .frm-cta-footer {
	background-color: #fff;
	padding: 12px var(--gap-sm);
	border-top: 1px solid var(--primary-200);
	border-bottom-left-radius: var(--small-radius);
	border-bottom-right-radius: var(--small-radius);
	margin-top: 12px;
	margin-bottom: calc(-1 * var(--gap-sm));
	margin-left: calc(-1 * var(--gap-sm));
	margin-right: calc(-1 * var(--gap-sm));
}

.frm-cta h4 {
	font-weight: 600;
	margin-top: 0;
	margin-bottom: var(--gap-2xs);
}

.frm-cta-green {
	background-color: var(--success-25);
}

.frm-cta-green .frm-banner-title {
	gap: calc(var(--gap-2xs) + 1px);
	color: var(--grey-700);
}

.frm-cta-green.frm-cta-border {
	border-color: var(--success-100)
}

.frm-cta-green.frm-cta-border .frm-cta-footer {
	border-color: var(--success-100);
}

.frm-cta-red {
	background-color: var(--error-25);
}

.frm-cta-red.frm-cta-border {
	border-color: var(--error-100);
}

.frm-cta-icon {
	padding: 3px 15px 3px 0;
	border-right: 1px solid currentColor;
}

#frm-upgrade-banner {
	gap: 0;
}

#frm-upgrade-banner .frm-cta-icon + .frm-cta-content {
	margin-right: auto;
	padding-left: 15px;
}

#frm-upgrade-banner.frm-gradient h4,
#frm-upgrade-banner.frm-gradient p {
	color: currentColor;
}

#frm-upgrade-banner.frm-gradient h4 {
	font-size: 16px;
	font-weight: 600;
}

#frm-upgrade-banner.frm-gradient p {
	font-size: 14px;
}

.frm-right-panel .inside .frm_pro_tip,
.frm_pro_tip {
	color: var(--grey-700);
	background: #FFE7DE;
	margin: 0 auto;
	display: flex;
	gap: var(--gap-xs);
}

.frm_field_list .frm_pro_tip {
	margin: 10px 15px;
	position: relative;
	width: calc(100% - 30px);
	box-sizing: border-box;
	font-size: 14px;
}

.frm_pro_tip .frmsvg,
.frm_pro_tip i {
	color: var(--orange);
}

.frm-tip-info {
	flex: 1;
	text-align: left;
}

.frm-tip-cta {
	color: var(--orange);
}

.frm-gradient .frm-tip-cta,
.frm-light-tip .frm-gradient .frm-tip-cta {
	color: currentColor;
	font-weight: 700;
}

.frm-tip-badge {
	font-size: 9px;
	font-weight: 700;
	text-transform: uppercase;
	color: #1E63D5;
	background-color: #fff;
	line-height: 1;
	border-radius: 4px;
	padding: 3px 4px;
}

.frm-light-tip .frm_pro_tip {
	background: var(--primary-25);
}

.frm-light-tip .frm_pro_tip .frmsvg,
.frm-light-tip .frm_pro_tip i,
.frm-light-tip .frm-tip-cta {
	color: var(--primary-500);
}

.nav-tab-wrapper .frm_pro_tip {
	float: right;
}
/* End call-to-action */

/* Start confirm and form templates modals */
#frm-form-templates-modal textarea {
	height: 108px;
}

#frm-form-templates-modal .frm-fields button.btn {
	border-color: var(--grey-300);
	color: var(--grey-900);
	cursor: pointer;
}

#frm-form-templates-modal .frm-fields button.btn .frmsvg  {
	color: var(--grey-400);
	width: 14px;
	height: 14px;
}

#frm-form-templates-modal .frm-form-templates-modal-fieldset {
	position: relative;
}

#frm-form-templates-modal .frm-form-templates-modal-fieldset .frm-with-left-icon .frmsvg {
	padding: 0;
	top: 0;
	left: 13px;
}

/* Fixes pro issue #3508, prevent a conflict that hides the postbox in modal */
#frm-form-templates-modal .postbox {
	display: block !important;
}

/* Leave email modal */
#frm_empty_inbox #frm-leave-email-modal {
	margin-top: var(--gap-2xl);
}

/* Name your form modal */
#frm-name-your-form-modal .frm_modal_top {
	padding-top: var(--gap-sm);
}
/* End confirm and form templates modals */

/* Field Group Message */
#frm-field-group-message {
	position: absolute;
	bottom: 32px;
	right: calc(50% - var(--biggest-sidebar));
	padding: var(--gap-xs) var(--gap-sm);
	border-radius: 100px;
	background-color: var(--primary-25);
}

#frm-field-group-message .frm-field-group-message-text {
	gap: 10px;
	color: var(--grey-800);
}

#frm-field-group-message-dismiss {
	margin-left: var(--gap-xs)
}

#frm-field-group-message-dismiss .frmsvg {
	color: var(--grey-800);
	width: 15px;
	height: 15px;
	cursor: pointer;
	transition: color 300ms ease-in-out;
}

#frm-field-group-message-dismiss .frmsvg:hover {
	color: var(--grey-500);
}
/* End Field Group Message */

/* Start card layout */
.frm-card-item {
	display: flex;
	border: 1px solid var(--grey-200);
	border-radius: var(--small-radius);
	padding: var(--gap-sm);
	box-shadow: var(--box-shadow-xs);
	background: #FFFFFF;
}
.frm-card-item:not(.frm-counter-card) {
	gap: 10px;
}
.frm-compact-card-item {
	padding: var(--gap-sm) 35px 10px 35px;
}
/* End card layout */

/* Pirate forms importer */
#welcome-panel:has(#frm_form_pf_importer) {
	background-color: #fff;
	margin: var(--gap-sm) var(--gap-md) var(--gap-md);
	line-height: 2;
}

#welcome-panel:has(#frm_form_pf_importer) .welcome-panel-content {
	text-align: start !important;
	min-height: unset;
	display: block;
}

#frm_form_pf_importer div {
	margin: 10px 0 !important;
}

#frm_form_pf_importer button {
	border: 1px solid var(--primary-500);
	padding: 7px 16px;
	min-height: 28px;
	line-height: var(--leading);
	margin-bottom: 0;
	background: var(--primary-500);
	color: #fff !important;
}

#frm_form_pf_importer button:hover {
	background: #135e96;
	border-color: #135e96;
}
/* End Pirate forms importer */

/* Start Option Box */
.frm-option-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	font-weight: 500;
	background-color: #fff;
	padding: 12px var(--gap-sm);
	border: 1px solid var(--grey-200);
	border-radius: var(--small-radius);
	margin-bottom: var(--gap-xs);
	transition: background-color 100ms ease-out;
	cursor: pointer;
}

.frm-option-box:hover {
	background-color: var(--grey-25);
}

.frm-option-box.frm-checked {
	background-color: var(--primary-25);
	border-color: var(--primary-200);
}

.frm-option-box.frm-disabled {
	cursor: default;
}

.frm-option-box input[type="checkbox"] {
	margin: 0;
}

.frm-option-box.frm-disabled input[type="checkbox"] {
	opacity: 0.5;
}

.frm-option-box .frm_help .frmsvg {
	width: 12px;
	height: 12px;
}
/* End Option Box */

/* Start Validation Error */
.frm-validation-error:not(.frm_hidden) {
	display: flex;
}

.frm-validation-error {
	gap: calc(var(--gap-xs) + var(--gap-2xs));
}

.frm-validation-error span {
	color: var(--error-500);
}

.frm-validation-error span[frm-error] {
	display: none;
}

.frm-validation-error[frm-error="empty"] span[frm-error="empty"],
.frm-validation-error[frm-error="invalid"] span[frm-error="invalid"],
.frm-validation-error[frm-error="custom"] span[frm-error="custom"] {
	display: inline-block;
}

/* Start Box Styles */
.frm-box {
	padding: var(--gap-sm);
	border: 1px solid var(--grey-200);
	border-radius: var(--small-radius);
}
/* End Box Styles */

/* Start External Link Styles */
.frm-link-with-external-icon {
	display: flex;
	align-items: center;
	gap: var(--gap-2xs);
	font-size: var(--text-xs);
}

.frm-link-with-external-icon .frmsvg {
	width: 16px;
	height: 16px;
	transform: rotate(45deg);
}
/* End External Link Styles */

/**
 * Page Skeleton CSS
 *
 * Manages the layout and appearance of the page's content area.
 */

/* Core Styles for the Page */
#wpbody-content .frm-page-skeleton ul,
#wpbody-content .frm-page-skeleton li {
	margin: 0;
}

/* Sidebar Styles */
#wpbody-content .frm-page-skeleton .frm-right-panel {
	padding: 2px;
	overflow-y: initial;
}

/* Scrollbar */
#wpbody-content .frm-page-skeleton .frm-scrollbar-wrapper {
	padding: var(--gap-md) var(--gap-sm);
}

/* Search */
#wpbody-content .frm-page-skeleton .frm-search {
	float: none;
	padding: 0 var(--gap-2xs);
}

#wpbody-content .frm-page-skeleton .frm-search > input {
	width: 100%;
}

/* Categories */
.frm-page-skeleton-cat {
	cursor: pointer;
	padding: var(--gap-xs);
	border-radius: var(--small-radius);
	background-color: transparent;
	transition: background-color 250ms ease-out;
}

.frm-page-skeleton-cat:hover {
	background-color: var(--grey-100);
}

.frm-page-skeleton-cat > * {
	z-index: 2;
}

.frm-page-skeleton-cat-text {
	color: var(--grey-900);
	text-transform: capitalize;
}

.frm-page-skeleton-cat-count {
	color: var(--grey-400);
}

.frm-current .frm-page-skeleton-cat-text,
.frm-current .frm-page-skeleton-cat-count {
	color: var(--primary-500);
}

/* Page Content Styles */
.frm-list-grid-layout {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(303px, 1fr));
	grid-auto-rows: max-content;
	gap: var(--gap-sm);
}

.frm-list-grid-layout > * {
	grid-column: span 1;
}

/* Empty State Styles */
#frm-page-skeleton-empty-state {
	height: 100%;
	margin-top: calc(-1 * var(--gap-md));
}

#frm-page-skeleton-empty-state .frm-page-skeleton-text {
	max-width: 420px;
}

/* Helper Classes */
.frm-page-skeleton-divider {
	border-top: 1px solid var(--grey-200);
	margin: 0;
}

/* Always hide submit field button */
.field_type_list .frm_tsubmit {
	display: none !important;
}
/* End always hide submit field button */

/* Prevent additional accordion arrows from appearing */
#frm_style_sidebar .accordion-section-title::after,
#frm_view_editor_left .accordion-section-title::after {
	content: "";
}
