@font-face {
	font-family: 's11-fp';
	src: url('../fonts/s11-fp.eot');
	src: local('☺'), url('../fonts/s11-fp.woff') format('woff'), url('../fonts/s11-fp.ttf') format('truetype'), url('../fonts/s11-fp.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* dashboard icon */
.frm_38_trigger #toplevel_page_formidable .wp-menu-image img{
	display: none !important;
}
.frm_38_trigger #toplevel_page_formidable .wp-menu-image:before,
.frm_38_trigger .wp-media-buttons .add_media span.wp-media-buttons-icon.frm-buttons-icon:before {
	font-family: 's11-fp' !important;
	content: '\e601'; 
	text-shadow: none;
}

/* media box button */
.wp-media-buttons .add_media span.wp-media-buttons-icon.frm-buttons-icon{
	background:url(../images/form_16.png) no-repeat center;
}

.wp-media-buttons .button.frm_insert_form{padding-left:0.4em;}
.frm_38_trigger .wp-media-buttons .button.frm_insert_form{padding-left:5px;}

.frm_38_trigger .wp-media-buttons .add_media span.wp-media-buttons-icon.frm-buttons-icon{
	background:none;
}

/* Admin Bar */
#wpadminbar #wp-admin-bar-frm-forms > .ab-item:before{font-family:'s11-fp' !important;content:'\e601';top:2px;}
	