.frm_switch_opt,
.frm_switch_opt span {
	vertical-align: top;
}

.frm_switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 25px;
  margin-right: 3px;
}

/* Hide default HTML checkbox */
.frm_switch input {
	display:none !important;
}

/* The slider */
.frm_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 30px;
}

.frm_slider:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow:0 2px 5px #999;
}

input:checked + .frm_slider {
  background-color: #008ec2;
}

input:focus + .frm_slider {
  box-shadow: 0 0 1px #008ec2;
}

input:checked + .frm_slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

