body.frm-admin-page-welcome {
	background: var(--sidebar-color);
	color: var(--darkest-grey);
}

.frm_wrap {
	max-width: 1092px;
	margin: 62px auto 0;
	padding: 0 20px;
}

.frm-button-secondary:hover {
	background: transparent !important;
}

.frm-ws-block-1 h1 {
	font-size: 30px;
	line-height: 41px;
	color: var(--darkest-grey);
}

.frm-ws-block-1 p {
	font-size: 14px;
	line-height: 25px;
	opacity: 0.8;
}

#frm-connect-btns a {
	border-radius: var(--border-radius);
	margin: 16px 0;
	padding: 12px 24px;
	height: auto;
	font-size: 15px;
	line-height: 1;
}

#frm-connect-btns {
	color: transparent; /* Hide the "or" */
	opacity: 1;
}

#frm-using-lite {
	display: none;
}

.frm-ws-block-1 .frm-bg-transparent {
	margin-left: 16px;
}

.frm-ws-block-1 .frm-bg-transparent span {
	color: var(--primary-color);
}

.frm-player {
	overflow: hidden;
	z-index: 1;
	margin-left: 34px;
	margin-top: 55px;
}

.frm-player iframe {
	width: 100%;
	max-width: 480px;
	border-radius: 10px;
}

.frm-ws-block .frm-icon {
	width: 40px;
	height: 40px;
	margin-right: 24px;

	background: var(--primary-color);
	border-radius: 4px;
}

.frm-ws-block h3 {
	font-size: 14px;
	color: rgba(40, 47, 54, 0.85);
	margin: 2px 0;
}

.frm-ws-block p {
	font-size: 13px;
	opacity: 0.6;
	margin: 0;
}

.frm-ws-block .frm-right-arrow {
	height: 22px;
	width: 19px;
	align-self: center;
}

.frm-ws-block .frm-icon svg {
	margin: 11px;
	color: #FFFFFF;
}

.frm-ws-block .frm-icon-briefcase svg {
	margin: 8px !important;
	height: 24px;
	width: 24px;
}

.frm-ws-block {
	background: #FFFFFF;
	border: 1px solid var(--sidebar-hover);
	border-radius: 6px;
	cursor: pointer;
	padding: 24px;
	display: flex;
}

.frm-fill {
	flex: 1;
}

.frm-ws-carousel-wrapper h4 {
	margin: 64px 0 20px;
	font-size: 15px;
	line-height: 157.9%;
	color: rgba(40, 47, 54, 0.85);
}

.frm-ws-carousel-wrapper .frm3 {
	background: #FFFFFF;
	border-radius: 10px;
	padding: 16px;
}

.frm-ws-carousel-wrapper .frm-icon {
	height: 48px;
	width: 48px;
	background: var(--light-blue);
	border-radius: 10px;
}

.frm-ws-carousel-wrapper .frm-icon svg {
	width: 29px;
	height: 29px;
	margin: 9px;
	color: #3F4B5B;
}

.frm-ws-carousel-wrapper h3 {
	font-size: 14px;
	line-height: 19px;
	color: rgba(40, 47, 54, 0.85);
	margin: 17px 0 8px;
}

.frm-ws-carousel-wrapper p {
	font-size: 13px;
	min-height: 80px;
	line-height: 18px;
	opacity: 0.6;
	margin: 0;
}

.frm-ws-carousel-wrapper a {
	font-size: 14px !important;
	line-height: 19px;
	text-align: center;
	margin: 10px 0 0 !important;
}

.frm-top-spacing {
	margin-top: 100px;
}

@media only screen and (max-width: 900px) {
	.frm-ws-carousel-wrapper .frm3 {
		grid-column:span 6 / span 6;
		margin-bottom: 15px;
	}
}

@media only screen and (max-width: 750px) {
	.frm-player,
	.frm-ws-block-1 {
		text-align: center;
		margin-left: 0;
	}
}
