body.frm-admin-page-welcome {
	background: var(--sidebar-color);
}

.frm_wrap {
	max-width: 1092px;
	margin: 62px auto 0;
	padding: 0 20px;
}

#frm-connect-btns {
	color: transparent; /* Hide the "or" */
	opacity: 1;
}

#frm-using-lite {
	display: none;
}

.frm-player {
	overflow: hidden;
	margin-top: var(--gap-md);
}

.frm-player iframe {
	width: 100%;
	max-width: 480px;
	border-radius: var(--border-radius);
}

.frm-ws-block h3 {
	font-size: var(--text-sm);
	margin: 2px 0;
}

.frm-ws-block .caret {
	width: auto;
}

.frm-ws-block {
	cursor: pointer;
}

.frm-fill {
	flex: 1;
}

.frm-ws-block,
.frm-ws-carousel-wrapper .frm3 {
	background: #FFFFFF;
	border-radius: var(--small-radius);
	padding: var(--gap-sm);
	box-shadow: var(--box-shadow-sm);
	display: flex;
	gap: var(--gap-sm);
}

.frm-ws-carousel-wrapper .frm3 {
	flex-direction: column;
}

.frm-ws-carousel-wrapper .frm-icon-wrapper {
	background: var(--grey-100);
	align-self: initial;
}

.frm-ws-carousel-wrapper .frm-icon-wrapper svg {
	color: var(--grey-700);
}

.frm-ws-carousel-wrapper h3 {
	font-size: var(--text-sm);
	margin: var(--gap-xs) 0 0;
}

.frm-ws-block p,
.frm-ws-carousel-wrapper p {
	opacity: 0.7;
	margin: 0;
}

.frm-ws-carousel-wrapper span:last-child {
	margin-top: auto;
}

@media only screen and (max-width: 900px) {
	.frm-ws-carousel-wrapper .frm3 {
		grid-column:span 6 / span 6;
		margin-bottom: 15px;
	}
}

@media only screen and (max-width: 750px) {
	.frm-player,
	.frm-ws-block-1 {
		text-align: center;
		margin-left: 0;
	}
}
