body {
    background: #F6F7FB;
}

* {
  box-sizing: border-box;
}

.frm-ws-wrapper .column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.frm-ws-wrapper .row:after {
  content: "";
  display: table;
  clear: both;
}

.frm-ws-wrapper {
    width: 1092px;
    margin: 62px auto 0;
}

.frm-ws-logo img {
    width: 69px;
    height: 68.76px;
}

.frm-ws-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    width: 462px;
    height: 43px;
    margin-top: 24px;
}

.frm-ws-block-1 {
    width: 521px;
    height: 280px;
}

.frm-ws-block-1 h1 {
    font-size: 30px;
    line-height: 41px;
    color: #282F36;
}

.frm-ws-block-1 p {
    font-size: 14px;
    line-height: 25px;
    color: rgba(40, 47, 54, 0.8);
}

.frm-ws-block-1 .frm-ws-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 24px;

    border: 1px solid #4199FD;
    box-sizing: border-box;
    border-radius: 39px;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;

    height: 43px;
    width: 223px;
    left: 0px;
    top: 0px;
    padding: 12px, 24px, 12px, 24px;
    cursor: pointer;
}

.frm-ws-block-1 .bg-blue {
    background: #4199FD;
}

.frm-ws-block-1 .bg-blue span {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
    width: 175px;
    border-radius: nullpx;
}

.frm-ws-block-1 .bg-transparent {
    margin-left: 16px;
}

.frm-ws-block-1 .bg-transparent span {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #4199FD;
    border-radius: nullpx;
}

.player {
    width: 480px;
    height: 240px;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    margin-left: 34px;
    margin-top: 55px;
}

.frm-ws-block .icon {
    width: 40px;
    height: 40px;
    margin: 24px;

    background: #4199FD;
    border-radius: 4px;
}

.frm-ws-block h3 {
    margin-top: -64px;
    margin-left: 81px;
    font-size: 14px;
    line-height: 19px;
    color: rgba(40, 47, 54, 0.85);
}

.frm-ws-block p {
    margin-left: 81px;
    margin-top: -10px;
    font-size: 13px;
    line-height: 18px;
    color: rgba(40, 47, 54, 0.6);
}

.frm-ws-block .right-arrow {
    height: 12px;
    width: 6px;
    border-radius: 0px;
    float: right;
    margin-top: -41px;
    margin-right: 33px;
}

.frm-ws-block .right-arrow .frmsvg {
    height: 15px;
}

.frm-ws-block .icon svg {
    margin: 11px;
}

.frm-ws-block .icon-briefcase svg {
    margin: 8px !important;
    height: 24px;
    width: 24px;
}

.frm-ws-block .icon .plus {
    margin: 12px !important;
}

.frm-ws-block {
    width: 520px;
    height: 88px;

    background: #FFFFFF;
    border: 0.725101px solid #E3E8EB;
    box-sizing: border-box;
    border-radius: 6px;
    cursor: pointer;
}

.frm-ws-carousel-wrapper h4 {
    margin-top: 64px;
}

.frm-ws-carousel-wrapper h4 {
    font-size: 15px;
    line-height: 157.9%;
    color: rgba(40, 47, 54, 0.85);
    margin-left: 3px;
}

.frm-ws-carousel-wrapper .col-4 {
    width: 250px;
    height: 240px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-right: 21px;
    padding-top: 16px;
    padding-left: 16px;
}

.frm-ws-carousel-wrapper .icon {
    height: 48px;
    width: 48px;
    background: rgba(41, 131, 251, 0.15);
    border-radius: 10px;
}

.frm-ws-carousel-wrapper .icon svg {
    width: 29.09px;
    height: 29.53px;
    margin: 9px;
}

.frm-ws-carousel-wrapper h3 {
    font-size: 14px;
    line-height: 19px;
    color: rgba(40, 47, 54, 0.85);
}

.frm-ws-carousel-wrapper p {
    width: 201px;
    height: 54px;
    font-size: 13px;
    line-height: 18px;
    color: rgba(40, 47, 54, 0.6);
}

.frm-ws-carousel-wrapper .btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 16px;
    border: 1px solid #4199FD;
    box-sizing: border-box;
    border-radius: 48px;
    position: relative;
    height: 31px;
    width: 90px;
    top: 20px;
    cursor: pointer;
}

.frm-ws-carousel-wrapper .btn span {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #4199FD;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}

.frm-ws-carousel-wrapper .arrows {
    float: right;
    margin-top: -40px;
    margin-right: 35px;
}

.frm-ws-carousel-wrapper .arrows span {
    cursor: pointer;
}

.frm-ws-carousel-wrapper .arrows .right-arrow {
    margin-left: 34px;
}

.second-section {
    margin-top: 111px;
}