.frm-access-free-templates-banner {

	.frm-banner-image-wrapper {
		display: flex;
		justify-content: center;
		align-items: end;
		background-color: var(--primary-25);
		padding: 19px 14px 0;
		border-radius: var(--small-radius);
	}
}
