#frm_sale_banner {
	display: flex;
	height: 90px;
	flex-direction: row;
	align-items: center;
	gap: var(--gap-sm);
	cursor: pointer;
	position: relative;

	> div:first-child {
		align-self: flex-end;
		width: 150px;
		height: 100%;
		display: flex;
		justify-content: center;

		img {
			align-self: center;
		}
	}

	> div:nth-child(3) {
		margin-left: auto;
		margin-right: 50px;
	}

	> div:nth-child(2) > div:last-child {
		opacity: 0.8;
	}

	a:not(.dismiss) {
		text-shadow: none;
		border-radius: 30px;
		border: 1px transparent;
		font-size: var(--text-sm);
		padding: 7px 16px;
		height: auto;
		min-height: 28px;
		outline: none;
		line-height: var(--leading);
		box-sizing: border-box;
		margin-bottom: 0;
		display: inline-block;
		font-weight: 700;
		background-color: #fff;
		color: #000;
	}

	.dismiss {
		position: absolute;
		color: #fff;
		opacity: 0.6;
		right: 15px;
		top: 10px;
	}

	&:hover a:not(.dismiss) {

		&[style*="background-color: #fff"] {
			background-color: #f0f0f0 !important;
		}

		&[style*="background-color: rgba(241, 90, 36, 1)"] {
			background-color: #e6470f !important;
		}

		&[style*="background-color: rgba(239, 58, 78, 1)"] {
			background-color: #ed1d34 !important;
		}

		&[style*="background-color: rgba(33, 2, 14, 1)"] {
			background-color: #3e041a !important;
		}

		&[style*="background-color: rgba(72, 51, 64, 1)"] {
			background-color: #362630 !important;
		}
	}
}
