/**
 * Components - Form Error
 */

.frm_description,
.with_frm_style form div.description,
.frm_error {
	margin: 0;
}

.frm_error {
	color: #f04438;
}

form .frm_blank_field input,
form .frm_blank_field textarea,
form .frm_blank_field select,
form .frm_blank_field .frm-g-recaptcha iframe,
form .frm_blank_field .g-recaptcha iframe {
	border-color: #f04438;
}

form .frm_blank_field label {
	color: #f04438;
}

.frm_required {
	color: #f04438;
}
