.frm_email_settings {

	h2,
	h3 {
		border: 0;
		padding: 0;
		font-weight: 500 !important;
	}

	h3 {
		font-size: var(--text-sm);
		color: var(--grey-600);
		margin: var(--gap-md) 0;
	}

	.frm-border-icon .frmsvg {
		color: var(--primary-700);
	}
}

// Search
#frm_email_addon_menu .frm-search {
	float: unset;
	clear: unset;
	width: 100%;
	max-width: 380px;

	input[type="search"] {
		height: 44px;
	}
}

// Filter
#frm-actions-filter-content:not([data-active-filter="all"]) .frm-group-heading {
	display: none;
}

// Action Cards
.frm_actions_list .frm-card-item.frm-card-item--outlined {
	padding-left: var(--gap-sm);
	padding-right: var(--gap-sm);
	margin: 0;
	transition: box-shadow 200ms ease-in-out, background-color 200ms ease-out;

	&:hover {
		background-color: var(--grey-25);
	}

	h3 {
		color: var(--grey-800);

		.frm-new-pill {
			margin-left: 0;
		}
	}

	.frm_single_action {
		display: none;
		align-items: center;
		gap: var(--gap-2xs);
		font-size: var(--text-sm) !important;
		padding: 7px var(--gap-sm) !important;

		.frmsvg {
			width: 20px;
			height: 20px;
			opacity: 1;
		}

		&.frm_inactive_action {
			opacity: 0.55 !important;
		}
	}

	&:hover .frm_single_action {
		display: flex;
	}
}

// Action Widgets/Settings
.frm_form_action_settings {
	margin-bottom: 12px;

	h2,
	h3 {
		border-top: 1px solid var(--grey-200);
		padding-top: var(--gap-md);
		margin-bottom: var(--gap-sm);
		margin-top: var(--gap-xs);
	}

	.widget-top {
		color: var(--grey-700);
		background: #fff;
		border-radius: var(--small-radius);
		border-color: var(--grey-300);
		box-shadow: none;
		transition: background-color 200ms ease-out;
	}

	.frm_email_icons {
		display: none;
	}

	.widget-action {
		color: var(--grey-800);
		transition: transform 200ms ease-out;
	}

	&:hover {

		.widget-top {
			background: var(--grey-25);
		}

		.frm_email_icons {
			display: flex;
		}
	}

	&.open {

		.widget-top {
			background: var(--grey-25);
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			border-bottom: none;
		}

		.widget-action {
			transform: rotate(-180deg);
		}
	}

	> .widget-inside {
		display: none;
	}

	&.open > .widget-inside {
		display: block;
	}

	.widget-inside {
		min-height: 25px;
		padding: var(--gap-xs) var(--gap-sm);
		border-color: var(--grey-300);
		border-bottom-left-radius: var(--small-radius);
		border-bottom-right-radius: var(--small-radius);

		p > label {
			display: flex;
			align-items: center;
			gap: var(--gap-xs);

			.frmsvg {
				display: flex;
			}
		}
	}
}

