/**
 * Input Positioning
 */

.frm-with-left-icon input {
	padding-left: 37px !important;
}

.frm_wrap .frm-with-right-icon textarea,
.frm_wrap .frm-with-right-icon input,
.frm_wrap .frm-with-right-icon input[type="text"] {
	padding-right: var(--gap-md);
}

/* Button is 26px wide plus margins. */
.frm_wrap .frm-with-right-icon input:has(~ .frm-show-inline-modal) {
	padding-inline-end: 40px;
}

#frm-show-fields .frm-with-left-icon .frmsvg,
#frm-show-fields .frm-with-left-icon i {
	padding-top: 10px;
}
