/**
 * Component: RTE Textarea
 */

.frm_sorting .frm_rte textarea {
	width: 653px;
	background: #fff;
	margin: 1px 0 0;
	border: 1px solid #dfdfdf;
	border-top: none;
	border-radius: 0;
	float: none !important;
}

.frm_full_rte textarea {
	width: 98%;
	padding: 0;
}
