{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"browsers": ["last 2 versions", "ie >= 11"]
				}
			}
		],
		[
			"@babel/preset-react",
			{
				"pragma": "wp.element.createElement"
			}
		]
	],
	"plugins": [
		"@babel/plugin-syntax-jsx",
		[
			"@wordpress/babel-plugin-makepot",
			{
				"output": "languages/formidable-js.pot"
			}
		]
	],
	"env": {
		"test": {
			"plugins": [
				"@babel/plugin-transform-react-jsx",
				"babel-plugin-styled-components"
			]
		}
	},
	"comments": true
}
