parameters:
	level: max
	reportUnmatchedIgnoredErrors: false
	bootstrapFiles:
		- vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
		- stubs.php
	excludePaths:
		- */node_modules/*
		- */tests/*
		- */bin/*
		- */images/*
		- */languages/*
		- */js/*
		- */vendor/*
		- */fonts/*
		- */deprecated/*
		- */rector.php
	strictRules:
		disallowedLooseComparison: false
		booleansInConditions: false
		uselessCast: false
		requireParentConstructorCall: false
		strictCalls: false
		noVariableVariables: false
	ignoreErrors:
		- '#Access to an undefined property#'
		- '#Call to protected method+#'
		- '#Call to function compact\(\) contains possibly undefined variable#'
		- '#Cannot access (offset|property)+#'
		- '#Cannot (call method|cast|assign offset)+#'
		- '#Function (apply_filters)+ invoked with#'
		- '#code above always terminates.#'
		- '#does not (accept|exist on)+#'
		- '#expects (array|string|int|callable|object|stdClass|float|bool|resource)+#'
		- '#is always (false|true)+.#'
		- '#might not be defined.#'
		- '#no (typehint|value type|return typehint)+ specified.#'
		- '#of echo cannot be converted to string.#'
		- '#only iterables are supported#'
		- '#results in an error.#'
		- '#should return#'
		- '#will always evaluate to#'
		- '#has no return type specified#'
		- '#with no type specified#'
		- '#in isset\(\) does not exist.#'
		- '#is unused.#'
		- '#is never read, only written#'
		- '#in empty\(\) is not falsy.#'
		- '#always exists and is not falsy.#'
		- '#has no type specified.#'
		-
			message: '#has an unused parameter#'
			paths:
				- classes/models/FrmFieldOption.php
				- classes/models/FrmSolution.php
				- stubs.php
		-
			message: '#has invalid type#'
			path: stubs.php
		-
			message: '#Possibly invalid array key type#'
			paths:
				- classes/helpers/FrmCSVExportHelper.php
				- classes/helpers/FrmFormsListHelper.php
		-
			message: '#get_mailer\(\) expects#'
			path: classes/controllers/FrmSMTPController.php
		-
			message: '#has invalid return type#'
			path: classes/controllers/FrmSMTPController.php
		-
			message: '#has an unused use#'
			path: classes/views/styles/manage.php
		-
			message: '#Cannot access an offset on mixed.#'
			paths:
				- classes/helpers/FrmFormMigratorsHelper.php
				- classes/models/FrmEntryMeta.php
		-
			message: '#callback of function spl_autoload_register expects#'
			path: formidable.php
		-
			message: '#Call to an undefined method FrmFieldType::get\_file\_id#'
			path: classes/helpers/FrmXMLHelper.php
		-
			message: '#Cannot use array destructuring on#'
			path: classes/helpers/FrmStylesHelper.php
		-
			message: '#should be contravariant with#'
			paths:
				- classes/helpers/FrmFormsListHelper.php
				- classes/models/FrmInstallerSkin.php
				- stripe/controllers/FrmStrpLiteActionsController.php
		- '#Construct empty\(\) is not allowed. Use more strict comparison#'
		-
			message: '#Foreach overwrites \$ip with its value variable.#'
			path: classes/helpers/FrmAppHelper.php
		-
			message: '#Foreach overwrites \$opt_key with its key variable.#'
			path: classes/helpers/FrmFieldsHelper.php
		-
			message: '#Only numeric types are allowed#'
			paths:
				- classes/helpers/FrmCSVExportHelper.php
				- classes/models/FrmStyle.php
		-
			message: '#Call to an undefined method FrmFieldType::get_export_headings#'
			path: classes/helpers/FrmCSVExportHelper.php
		-
			message: '#Call to an undefined method object::(get\_pagenum|prepare\_items|get_pagination\_arg)#'
			paths:
				- classes/controllers/FrmEntriesController.php
				- classes/controllers/FrmFormsController.php
		-
			message: '#Call to an undefined method object::prepare_items#'
			path: classes/helpers/FrmDashboardHelper.php
		-
			message: '#Access to protected property FrmFieldType::\$field#'
			path: classes/controllers/FrmFieldsController.php
