<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	backupGlobals="false"
	backupStaticProperties="false"
	bootstrap="tests/phpunit/bootstrap.php"
	colors="true"
	cacheDirectory=".phpunit.cache"
	>
	<testsuites>
		<testsuite name="default">
			<directory prefix="test_" suffix=".php">./tests/phpunit</directory>
		</testsuite>
	</testsuites>
	<source>
		<include>
			<directory suffix=".php">./classes</directory>
			<file>formidable.php</file>
		</include>
		<exclude>
			<directory suffix=".php">./classes/views</directory>
			<directory suffix=".php">./deprecated</directory>
		</exclude>
	</source>
	<coverage includeUncoveredFiles="true" ignoreDeprecatedCodeUnits="true" />
</phpunit>
