/**
 * Component: Sorting Display
 */

.frm_sorting > li.edit_field_type_end_divider:first-child,
.frm-show-click,
li.ui-state-default.edit_field_type_divider .frm-show-click {
	display: none;
}

.frm_form_field.ui-sortable-helper .frm-field-action-icons,
.frm_form_field.ui-sortable-helper .frm_form_fields,
.frm_form_field.ui-sortable-helper .frm_description,
.frm_form_field.ui-sortable-helper .description {
	display: none;
}

.frm_form_field.ui-sortable-helper .frm_primary_label,
.frm_form_field.ui-sortable-helper .frm_inner_field_container {
	margin: 0 !important;
}

.frm-single-settings .frm-show-click {
	display: block !important;
}

.frm-show-hover,
.frm_single_visible_hover,
li.ui-state-default.edit_field_type_divider .frm-show-hover {
	opacity: 0;
	transition: opacity .15s ease-in-out;
}

#frm-show-fields .frm-field-settings-open .frm-show-hover {
	opacity: 1;
}

.frm_sortable_field_opts {
	margin-top: 5px;
}
