// Default value setting "@since x.x"
.frm-lookup-box-label {
	display: none;
}

.frm-inline-modal[id^="frm-lookup-box"] {
	background-color: transparent;
	border: 0;
	box-shadow: none;

	.frm-nav-tabs,
	.dismiss {
		display: none;
	}
}
