// Start @since 6.24
.frm-lookup-box-label {
	display: none;
}

.frm-inline-modal[id^="frm-lookup-box"] {
	background-color: transparent;
	border: 0;
	box-shadow: none;

	.frm-nav-tabs,
	.dismiss {
		display: none;
	}
}

.frm_single_option a.frm_remove_tag svg,
.frm_single_option a.frm_add_opt svg {
	width: 15px;
	height: 15px;
}
// End @since 6.24

// Start @since x.x
#frm_builder_page {
	.frm_remove_form_row.frm_button,
	.frm_add_form_row.frm_button {
		display: inline-flex;
		align-items: center;
		gap: 8px;
		height: var(--submit-height);
		color: var(--submit-text-color);
		background: var(--submit-bg-color);
		font-size: var(--submit-font-size);
		font-weight: var(--submit-weight);
		line-height: normal;
		border-radius: var(--border-radius);
		border-width: var(--submit-border-width);
		border-color: var(--submit-border-color);
		padding: var(--submit-padding);
	}

	.frmsvg {
		color: var(--repeat-icon-color);
	}
}
// End @since x.x
