/**
 * Base - Text
 */

.frm-white-body,
.frm-white-body p,
.frm_wrap,
.frm_wrap p,
.frm-modal,
.frm-white-body .postbox .inside {
	font-size: var(--text-sm);
	color: var(--grey-500);
	line-height: var(--leading);
}

.frm-white-body p,
.frm_wrap p {
	margin: var(--gap-sm) 0;
}

body:not(.frm-admin-page-styles):not(.frm-admin-page-style) .with_frm_style .frm_form_fields > fieldset {
	--fieldset-padding: 15px 0;
}

a,
.widget .widget-top,
.stuffbox h3,
.frm-collapsed {
	cursor: pointer;
	text-decoration: none;
}
