/**
 * Accordion settings component styles
 */

.formidable_page_formidable-styles {

	&.js .control-section .accordion-section-title:focus {
		background: none;
	}

	.frm-right-panel h3.accordion-section-title:hover > svg:last-child,
	.frm-right-panel .open h3.accordion-section-title > svg:first-child,
	.frm-right-panel .open h3.accordion-section-title > svg:last-child {
		color: var( --grey-900 );
	}

	.frm-right-panel .frm-style-component {
		align-self: center;
	}
}
