/**
 * Global Payment Settings
 */

#frm_stripe_settings_section .form-table td,
#frm_authorize_net_settings_section .form-table td {
	padding-left: 0;
	padding-right: 0;
}

#frm_authorize_net_settings_section .form-table {
	margin-top: 0;
}

#frm_authnet_general_settings > tr:first-of-type > td:first-of-type {
	padding-top: 0;
}

.frm_payment_settings_tab .frmsvg {
	height: 22px;
}

.frm_payment_settings_tab[for="frm_toggle_paypal_settings"] .frmsvg {
	width: 83px;
}

.frm_payment_settings_tab[for="frm_toggle_authorize_net_settings"] .frmsvg {
	width: 99px;
}

.frm_payment_settings_tab[for="frm_toggle_square_settings"] .frmsvg {
	width: 89px;
}

.frm_payment_settings_tab[for="frm_toggle_stripe_settings"] .frmsvg {
	width: 53px;
}