/**
 * Order/Where Rows
 */

.frm_order_row,
.frm_where_row {
	margin-bottom: 7px;
	line-height: 30px;
}

.frm-single-settings .frm_prod_field_opt_cont {
	margin-top: initial;
	margin-bottom: 20px;
}
