/**
 * Component: Image
 */

.frm_image_data {
	margin-left: var(--gap-xs);
	display: flex;
	flex-direction: column;
	font-size: var(--text-sm);
	justify-content: space-around;
}

.frm_image_styling_frame {
	display: flex;
	align-items: stretch;
	margin-left: 1.5rem;
}

.frm_image_styling_frame img{
	height: 54px;
	width: 54px;
	min-width: auto;
	min-height: auto;
	border-radius: 3px;
	object-fit: cover;
	object-position: center;
}

.frm_image_styling_frame .frm_email_attachment_icon img {
	height: auto;
	width: auto;
	max-width: 54px;
}

.frm_image_preview_title{
	color: var(--grey-500);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.frm_wrap .frm_choose_image_box {
	cursor: pointer;
	color: var(--grey-700);
	background-color: #F2F2F2;
	margin-left: 24px;
	text-align: center;
	width: 100%;
}

.frm_wrap .frm_choose_image_box:hover {
	background: #fff;
}

a.frm_remove_image_option,
.frm_remove_image_option {
	color: var(--grey-400);
	cursor: pointer;
}

a.frm_remove_image_option:hover .frmsvg,
a.frm_remove_image_option:hover,
.frm_remove_image_option:hover {
	color: rgba(40, 47, 54, 0.8);
}
