/**
 * Components - Form Rows
 */

.frm-preview-buttons .frm_button_submit {
	margin: 0 5px;
}

.frm-page-break {
	border-top: 1px dashed var(--primary-700);
	margin-top: var(--gap-lg);
	position: relative;

	&::before,
	&::after {
		content: '';
		position: absolute;
		background-color: #fff;
		border-radius: 50%;
		border: 1px solid var(--primary-700);
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
	}
}
