/**
 * Component: Insert Fields
 */

.frm_field_list {

	#frm-insert-fields {
		max-height: none;
		font-size: var(--text-sm);

		.button a {
			display: block;
			max-width: 95%;
			overflow: hidden;
		}
	}
}

#frm-insert-fields {
	padding: 0 var(--gap-xs);
	overflow: hidden;

	.frm-search {
		float: none;
		margin: 0 0 var(--gap-md);
		width: auto;
	}

	li,
	li a {
		text-decoration: none;
		font-weight: 500;
		font-size: var(--text-md) !important;
		color: var(--grey-900);
	}

	li.frm_show_upgrade {
		cursor: pointer;
		opacity: .5;
	}

	li span:not(.frm-new-pill) {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: left;
	}

	li a.disabled:hover {
		cursor: not-allowed;
	}

	li.ui-draggable-disabled {
		opacity: 0.5;
	}

	li a:not(.disabled):hover {

		.frmsvg,
		i {
			color: var(--grey-600);
		}
	}

	li.frm_show_upgrade,
	li a {
		text-decoration: none;
		display: inline-flex !important;
		gap: var(--gap-xs);
		align-items: center;
		border-radius: var(--small-radius) !important;
		padding: 11px var(--gap-md) 11px var(--gap-xs) !important;
		color: var(--grey-900) !important
	}

	li a {
		display: flex !important;

		&:not(.disabled):hover {
			background: var(--grey-100);
			box-shadow: var(--box-shadow-md);
		}
	}

	/* Prevents advanced fields from always appearing in search results */
	li.frm_show_upgrade.frm_hidden {
		display: none !important;
	}

	.frm-with-line {
		padding: 12px var(--gap-md);
		font-weight: 500;
		font-size: var(--text-sm);

		&::before {
			margin-left: calc(-1 * var(--gap-sm));
			width: calc(100% + var(--gap-md));
		}
	}
}

.frm_code_list {
	clear: both;

	&.frm-full-hover a.frm_hidden,
	.frmkeys {
		display: none;
	}
}

.frmsvg {
	fill: currentColor;
	width: 18px;
	height: 18px;
	vertical-align: middle;

	svg {
		pointer-events: none;
	}

	&.frm_svg40 {
		width: 40px;
		height: 40px;
	}

	&.frm_svg20 {
		width: 20px;
		height: 20px;
	}

	&.frm_svg15 {
		width: 15px;
		height: 15px;
	}

	&.frm_svg14 {
		width: 14px;
		height: 14px;
	}

	&.frm_svg13 {
		width: 13px;
		height: 13px;
	}

	&.frm_svg9 {
		width: 9px;
		height: 9px;
	}
}

input[disabled] {
	pointer-events: none;
}

.frmbutton.ui-sortable-helper .frmsvg,
.field_type_list li.frmbutton .frmsvg,
.frmbutton.ui-sortable-helper i,
.field_type_list li.frmbutton i,
.frm_code_list a .frmsvg,
.frm_code_list a i {
	color: var(--grey-500);
	display: inline-block;
	vertical-align: middle;
	width: var(--text-md);
	font-size: var(--text-md);
}

.field_type_list {

	&.frm_grid_container {
		gap: 10px;
		margin: 13px 0;
	}

	li {
		margin: 0;
		padding: 0;
	}

	li.frmbutton .frmsvg {
		width: 24px;
		height: 24px;
		font-size: 24px;
	}
}

.frm_code_list {

	i::before {
		font-size: inherit;
	}
}

/* Icon while dragging */
.frmbutton.ui-draggable-dragging {
	pointer-events: none;

	a {
		color: var(--grey-900) !important;
		background: var(--grey-100);
		text-decoration: none;
		display: inline-flex !important;
		gap: var(--gap-xs);
		align-items: center;
		border-radius: var(--small-radius) !important;
		padding: 11px var(--gap-md) 11px var(--gap-xs) !important;
		box-shadow: var(--box-shadow-md);
	}
}
