@import '../admin/base/variables';
@import '../admin/components/form/toggle-components';

#frm_testing_mode {
    border-radius: 1rem;
    background-color: #fff;
    border-color: #0000001a;
    border-width: 1px;
    border-style: solid;
    padding: 16px 20px;
    margin-bottom: 40px;
    position: relative;

    h2 {
        font-size: 18px;
        font-weight: 600;
        color: rgba(0, 0, 0, 1);
        margin-bottom: 0;
    }

    label {
        font-size: 12px;
        font-weight: 600;

        span.frm_toggle_opt {
            color: var(--grey-800);
            font-weight: 600;
        }
    }

    input[type="checkbox"] {
        margin-top: 3px;
        margin-left: 4px;
    }

    select {
        width: auto !important;
    }

    label:not(:first-child) {
        margin-left: var(--gap-sm);
    }

    a.frm_button {
        margin-left: auto;
        border-radius: 20px;
        font-size: 14px;
    }

    hr {
        color: unset;
        background: var(--grey-200);
        height: 1px;
        border: none;
    }

    & > div:nth-of-type(2) {
        display: flex;
        align-items: center;
    }
}

#frm_test_mode_pagination {
    display: inline-block;
    margin-left: var(--gap-xs);

    input[type="button"] {
        border: 1px solid var(--grey-300);
        padding: 8px 12px;
        border-radius: 8px;
        font-size: 12px;
        background-color: #fff;
    
        &.frm_test_mode_active_page {
            background-color: var(--primary-500);
            border-color: var(--primary-500);
            color: #fff;
        }
    }
}

#frm_testmode_start_over {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #fff;
    color: var(--grey-800);
    border-radius: 20px;
    padding: 4px 12px;
    border-color: var(--grey-300);
    font-weight: 600;

    img {
        vertical-align: middle;
  position: relative;
  bottom: 2px;
    }
}

.frm_noallow {
	opacity: .5;
}
