@import '../admin/base/variables';
@import '../admin/components/form/toggle-components';

#frm_testing_mode {
    border-radius: 1rem;
    background-color: #fff;
    border-color: #0000001a;
    border-width: 1px;
    border-style: solid;
    padding: 16px 20px;
    margin-bottom: 40px;

    h2 {
        font-size: 18px;
        font-weight: 600;
        color: rgba(0, 0, 0, 1);
    }

    label {
        font-size: 12px;
        font-weight: 600;

        span.frm_toggle_opt {
            color: var(--grey-800);
            font-weight: 600;
        }
    }

    input[type="checkbox"] {
        margin-top: 3px;
        margin-left: 4px;
    }
}
