/* fadeIn */
.frm-fadein {
	animation: fadeIn 400ms ease-in-out forwards;
}

.frm-fadein-up {
	animation: fadeInUp 230ms ease-in-out forwards;
}

.frm-fadein-up-back {
	animation: fadeInUpBack 500ms cubic-bezier( 0.34, 1.56, 0.64, 1 ) forwards;
}

.frm-fadein-down-short {
	animation: fadeInDownShort 300ms ease-out forwards;
}

.frm-fadeout {
	animation: fadeOut var(--fadeout-time, 400ms) ease-in-out forwards;
}
/* END fadeIn */

/* pulse */
.frm-pulse {
	position: relative;
}

.frm-pulse::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	background-color: inherit;
	z-index: -1;
	animation: pulse 2s ease-out 650ms infinite;
	will-change: transform, opacity;
}
/* END pulse */

/* slide down */
.frm-slide-down,
.frm-collapse-me {
	animation: slideDown var(--slide-time, 2000ms) cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
/* END slide down */

/* cascadeFadeIn */
.frm-init-cascade-animation {
	transform: translateY( 0px );
	opacity: 1.0 !important;
	transition: 0.35s transform, 0.35s opacity linear;
	will-change: transform;
}
.frm-init-cascade-animation > * {
	transition: 0.3s opacity linear;
	transition-delay: 0.1s;
}
.frm-init-cascade-animation.frm-animate {
	transform: translateY( 7px );
	opacity: 0.0 !important;
}
.frm-init-cascade-animation.frm-animate > * {
	opacity: 0.0;
}
/* End cascadeFadeIn */

/* FadeIn 3d */
.frm-init-fadein-3d.frm-animate {
	opacity:0.0!important;
	transform: matrix3d( 1,0,0,0,0,1,0,-0.00095,0,0,1,0,0,0,0,1 ) translateY( 15px ) scale3d( 0.92, 0.92, 1 );
}
.frm-init-fadein-3d {
	opacity:1!important;
	transform: matrix3d( 1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1 ) translateY( 0px ) scale3d( 1, 1, 1 );
	transition: 0.35s transform, 0.5s opacity linear;
}
/* END FadeIn 3d */

.frm-background-highlight {
	animation: backgroundHighlight var(--highlight-time, 2750ms) ease-in forwards;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeInUpBack {
	0% {
		opacity: 0;
		transform: translateY(32px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeInDownShort {
	0% {
		opacity: 0.4;
		transform: translateY(-2px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideDown {
	0% {
		max-height: 0;
		opacity: 0;
		overflow: hidden;
	}

	25% {
		opacity: 1;
	}

	99% {
		max-height: var(--slide-height, 10000px);
		overflow: visible;
	}

	100% {
		max-height: none;
	}
}

@keyframes backgroundHighlight {
	0% {
		background-color: var(--primary-25);
	}

	90% {
		background-color: var(--primary-25);
	}

	100% {
		background-color: #fff;
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
		opacity: 0.8;
	}

	70% {
		transform: scale(2.2);
		opacity: 0;
	}

	100% {
		transform: scale(2.2);
		opacity: 0;
	}
}
