.formidable_page_formidable-applications #wpcontent {
	padding-left: 0;
}

.frm-applications-index-content {
	padding: 40px 40px 0;
	background: var(--sidebar-color);
}

.frm-application-cards-grid {
	padding-bottom: 50px;
}

.frm-application-cards-grid:last-child {
	padding-bottom: 100px;
}

.formidable_page_formidable-applications #wpbody-content {
	padding-bottom: 0;
}

.frm-applications-index-content h3 {
	display: inline-block;
}

.frm-application-cards-grid,
#frm-application-search,
.frm-application-card hr {
	width: 100%;
}

.frm-application-card {
	border-radius: 4px;
	background: #FFFFFF;
	grid-column: span 3/span 3; /* treat as frm3 */
	padding: 10px 0;
	display: flex;
	flex-direction: column;
}

.frm-application-card > div:first-child {
	position: relative;
}

.frm-application-card:nth-child(4) ~ .frm-application-card {
	margin-top: 20px;
}

/* Card title */
.frm-application-card > div:first-child > span {
	font-weight: 600;
}

/* Use template anchor */
.frm-application-card > div:first-child > a {
	font-size: 10px;
	position: absolute;
	right: 10px;
}

/* Card description */
.frm-application-card > div:first-child > div {
	font-size: 12px;
}

.frm-application-card > div {
	padding: 0 10px;
}

#frm_view_application_modal .frm_warning_style {
	border: none aliceblue;
	margin-top: 0;
	padding: 20px;
	border-radius: 0;
	display: flex;
}

#frm_view_application_modal .frm_warning_style span {
	flex: 1;
}

#frm_view_application_modal .frm_warning_style a:focus {
	box-shadow: none;
}

.frm-application-card img {
	max-width: 100%;
}

.frm-application-card-image-wrapper {
	min-height: 130px;
	display: flex;
	align-items: center;
	align-self: center;
}

.frm-flex {
	flex: 1;
}

.frm-application-modal-details {
	padding: 15px;
}

.formidable_page_formidable-applications .ui-widget-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--grey-border);
	z-index: 2;
}

#frm_view_application_modal .frm-application-image-wrapper {
	background-color: #F6F7FB;
	padding: 20px 30px 15px;
}

.frm-application-modal-label {
	opacity: 0.65;
	margin-bottom: 5px;
}

.formidable_page_formidable-applications #frm_bs_dropdown .install-now {
	vertical-align: bottom;
}

.frm-application-card h4 {
	display: inline;
	margin: 0;
	opacity: 0.85;
}

.frm-application-card svg + h4 {
	margin-left: 10px;
}

#frm_application_category_filter {
    display: inline-block;
    margin-left: 50px;
}

#frm_application_category_filter > a {
    padding: 0 10px;
}

#frm_application_category_filter > a:first-child {
	padding-left: 0;
}

#frm_application_category_filter > a:last-child {
	padding-right: 0;
}

#frm_application_category_filter > a.frm-active-application-category {
	color: var(--dark-grey);
	pointer-events: none;
}

@media only screen and (max-width: 1050px) {
	.frm-application-card {
		grid-column: span 6/span 6; /* treat as frm6 */
	}

	.frm-application-card:nth-child(2) ~ .frm-application-card {
		margin-top: 20px;
	}
}

@media only screen and (max-width: 782px) {
	#frm_application_category_filter {
		display: block;
		margin-left: 0;
	}

	.frm-application-card {
		grid-column: span 12/span 12; /* treat as frm12 */
	}

	.frm-application-card:nth-child(1) ~ .frm-application-card {
		margin-top: 20px;
	}
}
