#frm-deactivation-modal {
	--padding: 24px;
}
.frm_screen_reader {
	border: 0;
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important; /* many screen reader and browser combinations announce broken words as they would appear visually */
}
#frm-deactivation-modal-icon {
	position: absolute;
	top: calc(var(--padding) - 1px);
	left: var(--padding);
	width: 20px;
	height: 20px;
}
#frm-deactivation-modal .frm-modal-close {
	position: absolute;
	top: 20px;
	right: var(--padding);
	z-index: 1000;
}
#frm-deactivation-modal .frm_form_title {
	padding: 20px var(--padding) 12px calc(28px + var(--padding));
	margin-top: 0;
	border-bottom: 1px solid #f2f4f7;
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
}
#frm-deactivation-modal .frm_description,
#frm-deactivation-modal .frm_form_field {
	padding-left: var(--padding);
	padding-right: var(--padding);
}
#frm-deactivation-modal .frm_description p {
	font-size: 12px;
	margin-top: 16px;
	margin-bottom: 16px;
	color: #667085;
}
#frm-deactivation-modal .inside {
	padding-left: 0;
	padding-right: 0;
}
#frm-deactivation-modal .frm_radio { margin-bottom: 15px; }
#frm-deactivation-modal .frm_radio .frm_form_field {
	padding-left: 0;
	padding-right: 0;
	margin-bottom: -5px;
}
#frm-deactivation-modal .frm_radio .frm_form_field textarea {
	margin-top: 5px;
	height: 65px;
	border-radius: 8px;
	padding: 5px 12px;
	font-size: 14px;
}
#frm-deactivation-modal .frm_radio .frm_form_field textarea:focus { border-color: #4199FD; box-shadow: none; }
#frm-deactivation-modal .frm_radio .frm_form_field textarea::placeholder { color: #98A2B3; }
#frm-deactivation-modal .frm_radio .frm_html_container {
	padding: 6px;
	background-color: #F9FAFB;
	margin-top: 8px;
	margin-bottom: 15px;
	border-radius: 8px;
}
#frm-deactivation-modal .frm_radio .frm_html_container p {
	margin: 0;
	font-size: 14px;
	line-height: 20px;
	color: #667085;
}
#frm-deactivation-modal input[name="item_key"] + div,
#frm-deactivation-modal .frm_primary_label { display: none; }
#frm-deactivation-modal .frm_submit { text-align: right; margin-top: 38px; }
#frm-deactivation-modal .frm_button_submit { margin-right: 0; }
#frm-deactivation-modal .frm-skip-link {
	color: #98A2B3;
	display: inline-block;
	font-size: 14px;
	line-height: 40px;
	padding: 0 13px;
}
