/**
 * Form Templates Page Styles.
 *
 * This file includes all CSS of the Form Templates page.
 */

#frm-form-templates-page h1,
#frm-form-templates-page h2,
#frm-form-templates-page h3,
#frm-form-templates-page h4 {
	font-weight: 500;
}

#frm-form-templates-page ul,
#frm-form-templates-page li {
	margin: 0;
}

#frm-form-templates-page .frm-form-templates-title {
	font-size: var(--text-sm);
	color: #000;
	margin: 0;
}

#frm-form-templates-page h3.frm-form-templates-title {
	font-size: var(--text-xs);
}

/**
 * Sidebar.
 *
 * Includes scrollbar, search box, and categories list.
 */
#frm-form-templates-page .frm-right-panel {
	display: flex;
	flex-direction: column;
	flex-basis: var(--small-sidebar);
	width: var(--small-sidebar);
	min-width: var(--small-sidebar);
	padding: 2px;
	overflow-y: initial;
}

#frm-form-templates-page .frm-right-panel .frm-scrollbar-wrapper {
	display: flex;
	flex-direction: column;
	gap: var(--gap-md);
}

/* Sidebar Scrollbar */
#frm-form-templates-page .frm-scrollbar-wrapper {
	overflow-y: auto; /* Enable scrolling */
	-ms-overflow-style: none; /* For IE and Edge */
	scrollbar-color: transparent transparent; /* Firefox Scrollbar - transparent by default and show on hover */
	scrollbar-width: thin;
	padding: calc(var(--gap-md) - 4px);
}

#frm-form-templates-page .frm-scrollbar-wrapper:hover {
	scrollbar-color: var(--grey-300) var(--sidebar-color); /* Firefox Scrollbar - Show on hover */
}

#frm-form-templates-page .frm-scrollbar-wrapper::-webkit-scrollbar {
	width: 3px;
}

#frm-form-templates-page .frm-scrollbar-wrapper::-webkit-scrollbar-track {
	background: var(--sidebar-color);
}

#frm-form-templates-page .frm-scrollbar-wrapper::-webkit-scrollbar-thumb {
	background: transparent;
	border-radius: 100vw;
}

#frm-form-templates-page .frm-scrollbar-wrapper:hover::-webkit-scrollbar-thumb {
	background: var(--grey-300); /* Show scrollbar on hover */
}

#frm-form-templates-page .frm-scrollbar-wrapper::-webkit-scrollbar-thumb:hover {
	background: var(--grey-400); /* Show scrollbar on hover */
}

/* Search Box */
#frm-form-templates-page .frm-search {
	float: none;
}

#frm-form-templates-page .frm-search .frm_search_icon {
	padding-left: 18px;
	padding-right: 12px;
}

#frm-form-templates-page #template-search-input {
	width: 100%;
	padding: var(--gap-xs);
	line-height: var(--text-lg);
	padding-left: var(--gap-xl) !important;
}

/* Categories List */
#frm-form-templates-page .frm-form-templates-categories {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin: 0;
}

#frm-form-templates-page .frm-form-templates-cat-item {
	position: relative;
	display: flex;
	justify-content: space-between;
	font-weight: 500;
	margin: 0;
	cursor: pointer;
}

#frm-form-templates-page .frm-form-templates-cat-item::before {
	content: "";
	position: absolute;
	top: -8px;
	left: -8px;
	width: calc(100% + 16px);
	height: calc(100% + 16px);
	border-radius: var(--small-radius);
	background-color: transparent;
	transition: background-color 250ms ease-out;
	z-index: 1;
}

#frm-form-templates-page .frm-form-templates-cat-item:hover::before {
	background-color: var(--grey-100);
}

#frm-form-templates-page .frm-form-templates-cat-item > * {
	z-index: 2;
}

#frm-form-templates-page .frm-form-templates-cat-text {
	color: var(--grey-900);
}

#frm-form-templates-page .frm-form-templates-cat-count {
	color: var(--grey-400);
}

#frm-form-templates-page .frm-current .frm-form-templates-cat-text,
#frm-form-templates-page .frm-current .frm-form-templates-cat-count {
	color: var(--primary-500);
}

/**
 * Page Content.
 *
 */
#frm-form-templates-page #post-body-content {
	display: flex;
	flex-direction: column;
	gap: var(--gap-md);
	padding: var(--gap-md);
	border-left-color: var(--grey-300);
}

/* Create a blank form */
#frm-form-templates-create-form {
	display: flex;
	align-items: center;
	gap: 10px;
	width: 308px;
	background: var(--grey-25);
	border: 1px dashed var(--grey-400);
	border-radius: var(--small-radius);
	padding: calc(var(--gap-sm) - 1px) var(--gap-sm);
	transition: background-color 200ms ease-out;
	cursor: pointer;
	box-shadow: var(--box-shadow-xs);
}

#frm-form-templates-create-form:hover {
	background-color: var(--grey-50);
}

#frm-form-templates-create-form .frmsvg {
	width: 20px;
	height: 20px;
	background: var(--grey-100);
	border-radius: var(--small-radius);
	padding: calc(var(--gap-2xs) + 2px);
}

/* Templates list */
#frm-form-templates-page .frm-form-templates-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(308px, 1fr));
	grid-auto-rows: max-content;
	gap: var(--gap-sm);
}

#frm-form-templates-page #frm-form-templates-featured-list {
	margin-top: calc(-1 * var(--gap-xs));
}

#frm-form-templates-page #frm-form-templates-custom-list-section {
	display: flex;
	flex-direction: column;
	gap: var(--gap-sm);
}

#frm-form-templates-page #frm-form-templates-custom-list-title {
	color: var(--grey-500);
	margin-top: var(--gap-xs);
}

/* Templates item */
#frm-form-templates-page .frm-form-templates-item {
	grid-column: span 1;
	display: flex;
	gap: 10px;
	border: 1px solid var(--grey-200);
	border-radius: var(--small-radius);
	padding: 15px 16px;
	box-shadow: var(--box-shadow-xs);
}

#frm-form-templates-page .frm-form-templates-item-icon {
	flex-shrink: 0;
}

#frm-form-templates-page #frm-form-templates-list .frm-form-templates-item-icon {
	display: none;
}

#frm-form-templates-page .frm-form-templates-item-body {
	display: flex;
	flex-direction: column;
	gap: calc(var(--gap-xs) - 2px);
	min-width: 0; /* Fix for truncated text within a flexbox layout */
	flex-grow: 1;
}

#frm-form-templates-page .frm-form-templates-item-title,
#frm-form-templates-page .frm-form-templates-item-title-text {
	display: flex;
	gap: 6px;
	align-items: center;
	margin: 0;
	width: 100%;
}

#frm-form-templates-page .frm-form-templates-item-title {
	justify-content: space-between;
}

#frm-form-templates-page .frm-form-templates-item-lock-icon .frmsvg {
	width: 16px;
	height: 16px;
	flex-shrink: 0;
}

#frm-form-templates-page .frm-form-templates-item-title-text > span {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#frm-form-templates-page .frm-form-templates-item-favorite-button {
	display: none;
	cursor: pointer;
	transition: color 200ms ease-out;
	color: var(--grey-900);
}

#frm-form-templates-page .frm-form-templates-item-favorite-button:hover,
#frm-form-templates-page .frm-form-templates-favorite-item .frm-form-templates-item-favorite-button {
	color: var(--error-500);
}

#frm-form-templates-page .frm-form-templates-item-content {
	position: relative;
}

#frm-form-templates-page .frm-form-templates-item-buttons {
	display: none;
	position: absolute;
	gap: 12px;
	margin-top: calc(var(--gap-2xs) + 2px);
	z-index: 2;
}

#frm-form-templates-page .frm-form-templates-item-buttons .button {
	font-size: var(--text-xs);
	padding: 4px 12px;
}

#frm-form-templates-page .frm-form-templates-item-description {
	font-size: var(--text-xs);
	margin: 0;
	min-height: var(--h-md);
}

#frm-form-templates-page .frm-form-templates-item:hover .frm-form-templates-item-description {
	visibility: hidden;
	opacity: 0;
}

#frm-form-templates-page .frm-form-templates-item:hover .frm-form-templates-item-buttons {
	display: flex;
	animation: fadeInDownShort 300ms ease-out forwards;
}

#frm-form-templates-page .frm-form-templates-item:hover .frm-form-templates-item-favorite-button {
	display: flex;
	animation: fadeIn 400ms ease-in-out forwards;
}

/**
 * Helpers.
 *
 */

#frm-form-templates-page .frm_hidden {
	display: none !important;
}

#frm-form-templates-page .frm-form-templates-flex {
	display: flex;
}

#frm-form-templates-page .frm-form-templates-grid {
	display: grid;
}

#frm-form-templates-page .frm-form-templates-divider {
	border-top: 1px solid var(--grey-200);
	margin: 0;
}

.frm-form-templates-fadein {
	animation: fadeInUp 230ms ease-in-out forwards;
}

@keyframes fadeInUp {

	0% {
		opacity: 0;
		transform: translateY(10px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeInDownShort {

	0% {
		opacity: 0.4;
		transform: translateY(-2px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeIn {

	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/* Breakpoints */
@media only screen and (max-width: 782px) {

}

/**
 * Unorganized.
 *
 */
#frm-email-block p,
#frm-code-block p,
#frm-renew-block p {
	padding: 0 40px;
	max-width: 400px;
	margin: 0 auto 20px;
}

#frm_leave_email,
#frm_code_from_email {
	width: 480px;
}

#frm-email-block .frm-with-left-icon .frmsvg {
	padding: 0;
	top: 0;
	left: 13px;
}

.frm-templates-list.frm-categories-list li > div > div:last-child {
	padding-left: 0;
}

#frm-form-templates-page .frm-templates-list.frm-categories-list li.frm-selectable {
	padding: 0 10px;
	overflow: hidden;
}

#frm-form-templates-page .frm-use-this-template {
	margin-left: 10px;
}

#frm-form-templates-page #frm-details-block {
	padding: var(--gap-md) var(--gap-lg);
}

#frm_code_from_email_options {
	margin-top: 20px;
}

#frm_code_from_email_options * {
	color: var(--primary-500);
}

.frm-locked-template .frm-hover-icons .frm-unlock-form,
li[data-preview] .frm-hover-icons .frm-preview-form,
#frm-form-templates-page .frm-selectable[data-custom="1"] .frm-hover-icons .frm-delete-form {
	display: inline-flex;
}

#frm-upgrade-body-list-wrapper > div {
	display: inline-block;
	width: calc(100% / 3);
	vertical-align: top;
	text-align: left;
	margin-bottom: 10px;
}

#frm-upgrade-body-list-wrapper ul {
	padding-left: 40px;
}

#frm-upgrade-body-list-wrapper ul li::before {
	content: "\2022";
	color: var(--primary-500);
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.frm-ready-made-solution .frm-hover-icons {
	visibility: hidden;
}

.frm-ready-made-solution:hover .frm-hover-icons {
	visibility: visible;
}

.frm-hover-icons > .frm-create-form,
.frm-ready-made-solution .frm-hover-icons a {
	background-color: var(--primary-500);
}

.frm-ready-made-solution .frmsvg {
	width: 14px;
	height: 14px;
}

.frm-hover-icons .frm-create-form svg,
.frm-ready-made-solution .frm-hover-icons svg {
	color: #fff;
}

.frm-hover-icons .frm-create-form:hover,
.frm-ready-made-solution .frm-hover-icons a:hover,
.frm-hover-icons > .frm-unlock-form:hover,
.frm-hover-icons > .frm-unlock-form:hover .frmsvg {
	background-color: var(--primary-700) !important;
}

.frm-plan-required-tag {
	margin-left: 5px;
	transform: translateY(-1px);
	background: #fde6de;
	color: #f15a24;
}

.frm-ready-made-solution .frm-meta-tag {
	width: fit-content;
	background: #fde6de;
	color: #f15a24;
}

.frm-ready-made-solution:not(.frm-search-result) {
	display: none !important;
}

#frm-form-templates-page .frm-ready-made-solution {
	padding: var(--gap-xs) !important;
	margin: var(--gap-xs) 0 var(--gap-sm);
	display: flex;
	gap: var(--gap-sm);
	position: relative;
	overflow: visible !important;
}

#frm-form-templates-page .frm-ready-made-solution::after {
	width: 100%;
	height: 1px;
	background: var(--grey-300);
	content: "";
	position: absolute;
	bottom: -10px;
	left: 0;
}

#frm-form-templates-page .frm-ready-made-solution.frm-search-result:last-of-type::after {
	content: none;
}

#frm-form-templates-page .frm-solution-details {
	flex: 1;
	display: flex;
	gap: var(--gap-2xs);
	flex-direction: column;
}

#frm-form-templates-page .frm-ready-made-solution > div:first-child {
	width: 30%;
	text-align: center;
}

.frm-ready-made-solution h3 ~ a {
	color: var(--primary-500);
}

.frm-ready-made-solution img {
	max-width: 100%;
	display: block;
	box-shadow: var(--box-shadow-lg);
}

.frm-hover-icons > .frm-unlock-form {
	background-color: var(--primary-500);
}

.frm-hover-icons > .frm-unlock-form .frmsvg {
	background-color: var(--primary-500);
}

li .frm-hover-icons .frm-preview-form,
.frm-hover-icons .frm-unlock-form {
	display: none;
}

.frm-hover-icons > .frm-preview-form,
.frm-hover-icons > .frm-delete-form {
	border: 1px solid var(--primary-500);
}
