/**
 * Form Templates Page Styles
 *
 * This file includes all CSS rules specifically for the Form Templates page.
 */

/**
 * Page General Styles
 *
 * This section defines the basic typography and layout styles for the Form Templates page.
 */
#frm-form-templates-page h1,
#frm-form-templates-page h2,
#frm-form-templates-page h3,
#frm-form-templates-page h4 {
	font-weight: 500;
}

#frm-form-templates-page ul,
#frm-form-templates-page li {
	margin: 0;
}

#frm-form-templates-page .frm-upgrade-bar {
	display: none;
}

#frm-form-templates-page .frm-form-templates-title {
	font-size: var(--text-sm);
	color: #000;
	margin: 0;
}

#frm-form-templates-page h3.frm-form-templates-title {
	font-size: var(--text-xs);
}

/**
 * Sidebar Styles
 *
 * Defines the layout and styling for the sidebar, including scroll behavior.
 */
#frm-form-templates-page .frm-right-panel {
	display: flex;
	flex-direction: column;
	flex-basis: var(--small-sidebar);
	width: var(--small-sidebar);
	min-width: var(--small-sidebar);
	padding: 2px;
	overflow-y: initial;
}

/* Sidebar Scrollbar */
#frm-form-templates-page .frm-scrollbar-wrapper {
	display: flex;
	flex-direction: column;
	gap: var(--gap-md);

	overflow-y: auto; /* Enable scrolling */
	-ms-overflow-style: none; /* For IE and Edge */
	scrollbar-color: transparent transparent; /* Firefox Scrollbar - transparent by default and show on hover */
	scrollbar-width: thin;
	padding: calc(var(--gap-md) - 4px);
}

#frm-form-templates-page .frm-scrollbar-wrapper:hover {
	scrollbar-color: var(--grey-300) var(--sidebar-color); /* Firefox Scrollbar - Show on hover */
}

#frm-form-templates-page .frm-scrollbar-wrapper::-webkit-scrollbar {
	width: 3px;
}

#frm-form-templates-page .frm-scrollbar-wrapper::-webkit-scrollbar-track {
	background: var(--sidebar-color);
}

#frm-form-templates-page .frm-scrollbar-wrapper::-webkit-scrollbar-thumb {
	background: transparent;
	border-radius: 100vw;
}

#frm-form-templates-page .frm-scrollbar-wrapper:hover::-webkit-scrollbar-thumb {
	background: var(--grey-300); /* Show scrollbar on hover */
}

#frm-form-templates-page .frm-scrollbar-wrapper::-webkit-scrollbar-thumb:hover {
	background: var(--grey-400); /* Show scrollbar on hover */
}

/* Search Box */
#frm-form-templates-page .frm-search {
	float: none;
}

#frm-form-templates-page .frm-search .frm_search_icon {
	padding-left: 18px;
	padding-right: 12px;
}

#frm-form-templates-page #template-search-input {
	width: 100%;
	padding: var(--gap-xs);
	line-height: var(--text-lg);
	padding-left: var(--gap-xl) !important;
}

/* Categories List */
#frm-form-templates-page .frm-form-templates-categories {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin: 0;
}

#frm-form-templates-page .frm-form-templates-cat-item {
	position: relative;
	display: flex;
	justify-content: space-between;
	font-weight: 500;
	margin: 0;
	cursor: pointer;
}

#frm-form-templates-page .frm-form-templates-cat-item::before {
	content: "";
	position: absolute;
	top: -8px;
	left: -8px;
	width: calc(100% + 16px);
	height: calc(100% + 16px);
	border-radius: var(--small-radius);
	background-color: transparent;
	transition: background-color 250ms ease-out;
	z-index: 1;
}

#frm-form-templates-page .frm-form-templates-cat-item:hover::before {
	background-color: var(--grey-100);
}

#frm-form-templates-page .frm-form-templates-cat-item > * {
	z-index: 2;
}

#frm-form-templates-page .frm-form-templates-cat-text {
	color: var(--grey-900);
}

#frm-form-templates-page .frm-form-templates-cat-count {
	color: var(--grey-400);
}

#frm-form-templates-page .frm-current .frm-form-templates-cat-text,
#frm-form-templates-page .frm-current .frm-form-templates-cat-count {
	color: var(--primary-500);
}

/**
 * Page Content Styles
 *
 * Focuses on the main content area, laying out the various elements and components.
 */
#frm-form-templates-page #post-body-content {
	display: flex;
	flex-direction: column;
	gap: var(--gap-md);
	padding: var(--gap-md);
	border-left-color: var(--grey-300);
}

/* Create a blank form */
#frm-form-templates-create-form {
	display: flex;
	align-items: center;
	gap: 10px;
	width: 308px;
	background: var(--grey-25);
	border: 1px dashed var(--grey-400);
	border-radius: var(--small-radius);
	padding: calc(var(--gap-sm) - 1px) var(--gap-sm);
	transition: background-color 200ms ease-out;
	cursor: pointer;
	box-shadow: var(--box-shadow-xs);
}

#frm-form-templates-create-form:hover {
	background-color: var(--grey-50);
}

#frm-form-templates-create-form .frmsvg {
	width: 20px;
	height: 20px;
	background: var(--grey-100);
	border-radius: var(--small-radius);
	padding: calc(var(--gap-2xs) + 2px);
}

/* Templates list */
#frm-form-templates-page .frm-form-templates-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(308px, 1fr));
	grid-auto-rows: max-content;
	gap: var(--gap-sm);
}

#frm-form-templates-page #frm-form-templates-featured-list {
	margin-top: calc(-1 * var(--gap-xs));
}

#frm-form-templates-page #frm-form-templates-custom-list-section {
	display: flex;
	flex-direction: column;
	gap: var(--gap-sm);
}

#frm-form-templates-page #frm-form-templates-custom-list-title {
	color: var(--grey-500);
	margin-top: var(--gap-xs);
}

/* Templates item */
#frm-form-templates-page .frm-form-templates-item {
	grid-column: span 1;
	display: flex;
	gap: 10px;
	border: 1px solid var(--grey-200);
	border-radius: var(--small-radius);
	padding: 15px 16px;
	box-shadow: var(--box-shadow-xs);
}

#frm-form-templates-page .frm-form-templates-item-icon {
	flex-shrink: 0;
}

#frm-form-templates-page #frm-form-templates-list .frm-form-templates-item-icon {
	display: none;
}

#frm-form-templates-page .frm-form-templates-item-body {
	display: flex;
	flex-direction: column;
	gap: calc(var(--gap-xs) - 2px);
	min-width: 0; /* Fix for truncated text within a flexbox layout */
	flex-grow: 1;
}

#frm-form-templates-page .frm-form-templates-item-title,
#frm-form-templates-page .frm-form-templates-item-title-text {
	display: flex;
	gap: 6px;
	align-items: center;
	margin: 0;
	width: 100%;
}

#frm-form-templates-page .frm-form-templates-item-title {
	justify-content: space-between;
}

#frm-form-templates-page .frm-form-templates-item-lock-icon .frmsvg {
	width: 16px;
	height: 16px;
	flex-shrink: 0;
}

#frm-form-templates-page .frm-form-templates-item-title-text > span {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#frm-form-templates-page .frm-form-templates-item-favorite-button {
	display: none;
	cursor: pointer;
	transition: color 200ms ease-out;
	color: var(--grey-900);
}

#frm-form-templates-page .frm-form-templates-favorite-item .frm-form-templates-item-favorite-button {
	display: flex;
}

#frm-form-templates-page .frm-form-templates-item-favorite-button:hover,
#frm-form-templates-page .frm-form-templates-favorite-item .frm-form-templates-item-favorite-button {
	color: var(--error-500);
}

#frm-form-templates-page .frm-form-templates-item-content {
	position: relative;
}

#frm-form-templates-page .frm-form-templates-item-buttons {
	display: none;
	position: absolute;
	gap: 12px;
	margin-top: calc(var(--gap-2xs) + 2px);
	z-index: 2;
}

#frm-form-templates-page .frm-form-templates-item-buttons .button {
	font-size: var(--text-xs);
	padding: 4px 12px;
}

#frm-form-templates-page .frm-form-templates-item-description {
	font-size: var(--text-xs);
	margin: 0;
	min-height: var(--h-md);

	display: -webkit-box;         /* Required for line-clamp to work */
	-webkit-box-orient: vertical; /* Required for line-clamp to work */
	-webkit-line-clamp: 2;
	text-overflow: ellipsis;
	overflow: hidden;
}

#frm-form-templates-page .frm-form-templates-item:hover .frm-form-templates-item-description {
	visibility: hidden;
	opacity: 0;
}

#frm-form-templates-page .frm-form-templates-item:hover .frm-form-templates-item-buttons {
	display: flex;
	animation: fadeInDownShort 300ms ease-out forwards;
}

#frm-form-templates-page .frm-form-templates-item:not(.frm-form-templates-favorite-item):hover .frm-form-templates-item-favorite-button {
	display: flex;
	animation: fadeIn 400ms ease-in-out forwards;
}

/**
 * Empty State Styles
 *
 * Provides styles for when the Form Templates page is empty.
 */
#frm-form-templates-empty-state {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	gap: var(--gap-md);
	margin-top: calc(-1 * var(--gap-md));
}

#frm-form-templates-empty-state h3.frm-form-templates-title {
	font-size: var(--text-lg);
	margin-bottom: calc(var(--gap-xs) - var(--gap-md));
	color: var(--grey-900);
}

#frm-form-templates-empty-state .frm-form-templates-text {
	max-width: 420px;
	font-weight: 400;
	text-align: center;
}

#frm-form-templates-empty-state .button {
	font-weight: 600;
}

/**
 * Modal Styles
 *
 * Customizes the look of modals on the Form Templates page.
 */
/* Modal Errors */
#frm-form-templates-modal .frm-form-templates-modal-error:not(.frm_hidden),
#frm_code_from_email_options:not(.frm_hidden) {
	display: flex;
}

#frm-form-templates-modal .frm-form-templates-modal-error,
#frm_code_from_email_options {
	align-items: center;
	justify-content: center;
	gap: calc(var(--gap-xs) + var(--gap-2xs));
}

#frm-form-templates-modal .frm-form-templates-modal-error {
	color: var(--error-500);
	margin-top: var(--gap-xs);
}

#frm_code_from_email_error span,
#frm_leave_email_error span {
	display: none;
}

#frm_code_from_email_error[frm-error="wrong-code"] span[frm-error="wrong-code"],
#frm_code_from_email_error[frm-error="empty"] span[frm-error="empty"],
#frm_code_from_email_error[frm-error="custom"] span[frm-error="custom"],
#frm_leave_email_error[frm-error="invalid"] span[frm-error="invalid"],
#frm_leave_email_error[frm-error="empty"] span[frm-error="empty"] {
	display: inline-block;
}

/* Upgrade Modal */
#frm-upgrade-modal .inside {
	display: flex;
	flex-direction: column;
	gap: var(--gap-sm);
}

#frm-upgrade-modal p {
	margin-bottom: 0;
	color: var(--grey-900);
}

#frm-upgrade-modal .frm-upgrade-modal-lock-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: var(--primary-25);
}

#frm-upgrade-modal .frm-upgrade-modal-template-name {
	text-transform: capitalize;
}

#frm-upgrade-modal .frm-upgrade-modal-banner {
	padding: 12px 20px;
	border-radius: var(--small-radius);
	background-color: var(--success-25);
}

#frm-upgrade-modal .frm-upgrade-modal-banner-title {
	display: flex;
	align-items: center;
	gap: calc(var(--gap-2xs) + 1px);
	font-weight: 500;
	color: var(--grey-700);
	margin-bottom: var(--gap-2xs);
}

#frm-upgrade-modal .frm-upgrade-modal-banner-text {
	color: var(--grey-500);
}

#frm-upgrade-modal .frm-upgrade-modal-banner-tag {
	color: #fff;
	font-weight: 600;
	padding: var(--gap-2xs) var(--gap-xs);
	border-radius: var(--small-radius);
	background-color: var(--success-500);
}

#frm-upgrade-modal #frm-upgrade-modal-available-plans {
	display: flex;
	flex-direction: column;
	gap: var(--gap-xs);
}

#frm-upgrade-modal #frm-upgrade-modal-plans {
	display: flex;
	gap: var(--gap-md);
}

#frm-upgrade-modal .frm-upgrade-modal-plan {
	display: flex;
	align-items: center;
	gap: var(--gap-xs);
}

#frm-upgrade-modal .frm-upgrade-modal-plan-icon {
	display: flex;
}

#frm-upgrade-modal .frm-upgrade-modal-plan-icon {
	color: var(--error-500);
}

#frm-upgrade-modal .frm-upgrade-modal-plan-icon.frm-plan-checkmark-icon {
	color: var(--success-500);
}

/* Code from email modal */
#frm-code-modal-back-button {
	cursor: pointer;
	margin-right: var(--gap-2xs);
	color: var(--grey-400);
}

#frm_code_from_email_options {
	color: var(--primary-500);
	margin-top: var(--gap-sm);
}

/* Renew account modal */
#frm-renew-modal p {
	margin-bottom: 10px;
}

/**
 * Helper Classes
 *
 * Provides helper classes for common layout patterns and animations in the
 * Form Templates page.
 */
#frm-form-templates-page .frm_hidden {
	display: none !important;
}

#frm-form-templates-page .frm-form-templates-flex {
	display: flex;
}

#frm-form-templates-page .frm-form-templates-grid {
	display: grid;
}

#frm-form-templates-page .frm-form-templates-divider {
	border-top: 1px solid var(--grey-200);
	margin: 0;
}

[class*="frm-form-templates-space-"] {
	display: flex;
}

.frm-form-templates-space-5 {
	height: 5px;
}

.frm-form-templates-space-10 {
	height: 10px;
}

.frm-form-templates-fadein {
	animation: fadeInUp 230ms ease-in-out forwards;
}

@keyframes fadeInUp {

	0% {
		opacity: 0;
		transform: translateY(10px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeInDownShort {

	0% {
		opacity: 0.4;
		transform: translateY(-2px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeIn {

	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/**
 * Media Queries
 *
 * Provides responsive styles for the Form Templates page.
 */
@media only screen and (max-width: 782px) {
}
