.frm-new-pill {
	background: #f47449;
	border-radius: 13px;
	padding: 2px 6px;
	color: #fff;
	margin-left: 8px;
	font-size: 9px;
	vertical-align: middle;
}

#adminmenu .frm-new-pill {
	color: #f47449;
	background: none;
	margin-left: 5px;
	font-size: 85%;
	font-weight: inherit;
	vertical-align: unset;
	padding: 0;
}

#adminmenu .frm-orange-text {
	color: #f47449;
}
