.frm-new-pill {
	background: #F47449;
	border-radius: 13px;
	padding: 2px 6px;
	color: #fff;
	margin-left: 8px;
	font-size: 9px;
	vertical-align: middle;
}

.wp-submenu.wp-submenu-wrap .frm-meta-tag.frm-new-pill {
	color: #F47449;
	background: inherit;
	margin-left: 0;
	font-size: unset;
	font-weight: unset;
	vertical-align: unset;
}
