/**
 * Page Skeleton CSS
 *
 * Manages the layout and appearance of the page's content area.
 */

/**
 * Core Styles for the Page
 *
 * Defines the base typography and structural styles for the page.
 */

/**
 * Empty State Styles
 *
 * Provides styles for the content page when a category is empty.
 */
#frm-page-skeleton-empty-state {
	height: 100%;
	margin-top: calc(-1 * var(--gap-md));
}

#frm-page-skeleton-empty-state .frm-page-skeleton-text {
	max-width: 420px;
}
