#frm_style_sidebar,
#frm_style_sidebar + div {
	height: calc( 100vh - 95px );
}

#frm_style_sidebar {
	background-color: #F6F7FB;
	padding: 20px 10px;
	grid-gap: 5%;
	grid-template-columns: repeat( 12, 3.725%);
	vertical-align: top;
	box-sizing: border-box;
	overflow-y: auto;
}

#frm_style_sidebar + div {
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 20px;
}

.frm_style_card {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	border-radius: 6px;
	cursor: pointer;
}

.frm_style_card:hover {
	box-shadow: 0px 12px 24px rgba(72, 78, 84, 0.2);
}

.frm_active_style_card {
	background-color: rgba(188, 224, 253, 0.23) !important;
}

.frm_style_card_preview {
	padding: 10px;
	flex: 1;
	pointer-events: none;
}

#frm_style_sidebar .frm_style_card input[type="submit"] {
	height: unset !important;
	margin: 0;
	max-width: 100%;
}

.frm_style_card .frm_style_card_preview + div {
	border-top: 1px solid #E9EAEA;
	padding: 10px; 
	color: var(--label-color);
	text-align: left;
}

@media only screen and (max-width: 1200px) {
	/* Adjust the height to account for the taller header when the tabs drop to a second line. */
	#frm_style_sidebar,
	#frm_style_sidebar + div {
		height: calc( 100vh - 135px );
	}
}
