/**
 * Utilities - Font Size
 */

.frm-text-xs {
	font-size: var(--text-xs) !important;
}

.frm-text-sm {
	font-size: var(--text-sm) !important;
}

.frm-text-md {
	font-size: var(--text-md) !important;
}

.frm-text-lg {
	font-size: var(--text-lg) !important;
}

.frm-text-xl {
	font-size: var(--text-xl) !important;
}
