/**
 * Utilities - Text Color
 */

.frm-text-primary-500 {
	color: var(--primary-500);
}

.frm-text-grey-500 {
	color: var(--grey-500);
}

.frm-text-grey-700 {
	color: var(--grey-700);
}

.frm-text-grey-900 {
	color: var(--grey-900);
}

.frm-text-success-500 {
	color: var(--success-500);
}

.frm-text-warning-500 {
	color: var(--warning-500);
}
