@import '../frm-web-component.scss';

.frm-dropdown-component select {
	width: 100%;
	outline: 0;
    box-shadow: var(--box-shadow-xs);
    border-radius: var(--small-radius);
    padding: 5px var(--gap-lg) 5px 14px;
    border-color: var(--grey-300);
    color: var(--grey-800);
    font-size: var(--text-md);
    margin: 0;
    line-height: var(--leading);
	border-width: 1px;
	border-style: solid;
	background-position: center 5px;
	background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cpath stroke='%2398A2B3' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M12.708 8.959 10 11.875 7.292 8.96'/%3E%3C/svg%3E") no-repeat right 8px top 50%;
	background-color: #fff;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}