/**
 * Component - Card Item
 */

.frm-card-item {
	display: flex;
	border: 1px solid var(--grey-200);
	border-radius: var(--small-radius);
	padding: var(--gap-sm);
	box-shadow: var(--box-shadow-xs);
	background: #fff;

	&:not(.frm-counter-card) {
		gap: 10px;
	}

	&.frm-card-item--outlined {
		padding: var(--gap-sm) var(--gap-md);
		gap: 12px;
		border-color: var(--grey-300);
		box-shadow: var(--box-shadow-sm);
		transition: box-shadow 200ms ease-in-out;

		&:hover {
			box-shadow: var(--box-shadow-md);
		}

		p,
		h3 {
			margin: 0;
		}
	}
}

.frm-compact-card-item {
	padding: var(--gap-sm) 35px 10px 35px;
}

.frm-card-bottom {
	background-color: var(--grey-50);
	margin-left: calc(var(--gap-sm) * -1);
	margin-bottom: calc(var(--gap-sm) * -1);
	margin-right: calc(var(--gap-sm) * -1);
	padding: var(--gap-sm);
	border-radius: 0 0 var(--small-radius) var(--small-radius);
}
