@mixin focus-outline(
	$width: 1px,
	$offset: 2px,
	$color: var(--primary-500),
	$radius: null
) {

	&:focus-visible {
		outline: $width solid $color;
		outline-offset: $offset;

		@if $radius {
			border-radius: $radius;
		}
	}
}
