/**
 * Components - Modal - Bulk Modal
 */

#frm-bulk-modal .howto,
#frm-bulk-modal h3 {
	font-size: var(--text-sm);
	font-weight: 400;
	margin: 5px 0 10px;
	color: var(--grey);
}

#frm-bulk-modal h3 {
	margin-left: 20px;
}
