/**
 * Inline Modals
 */

.frm-open + .frm-inline-modal {
	top: -10px;
	margin-bottom: 0;
}

.frm_grid_container > .frm-open + .frm-inline-modal {
	top: -4px;

	&.frm-modal-no-close {
		top: 0 !important;
	}
}
