/**
 * Component: Feature Banner
 */

.frm-feature-banner {
	background: var(--grey-700);
	color: #fff;
	border-radius: var(--small-radius);
	padding: 20px;
	margin: 10px 0;
}

.frm-feature-banner p {
	font-size: var(--text-sm);
}

.frm-feature-banner .dismiss {
	margin-top: -10px;
	margin-right: -10px;
}

.frm-feature-banner .dismiss svg {
	color: #fff;
}

.frm-feature-banner .frm-big-icon {
	padding-right: 20px;
	float: left;
	min-height: 60px;
}

.frm-big-icon svg {
	height: 60px;
	width: 60px;
}

.frm-feature-banner p {
	margin-top: 0;
}
