/**
 * Components - Template List
 */

/* These template list styles are still used to list the View types in the New View modal. */
.frm-templates-list {
	margin-top: 0;
}

.frm-templates-list.frm_grid_container li {
	margin-bottom: 0;
}

.frm-templates-list li {
	vertical-align: top;
	position: relative;
	box-sizing: border-box;
	border-radius: 6px;
	border: 1px solid transparent;
	text-align: left;
}

.frm-templates-list li:not(.frm_hidden) {
	display: inline-block;
}

.frm-templates-list.frm-categories-list li {
	width: 100%;
}

.frm-templates-list li.frm-selectable {
	cursor: pointer;
}

.frm-templates-list li.frm-selectable:hover {
	background: var(--light-blue);
	border-color: rgba(65, 153, 253, 0.5);
}

.frm-templates-list li.frm-selectable:hover h3,
.frm-templates-list li.frm-selectable:hover p {
	max-width: calc( 100% - 65px );
}

.frm-templates-list .frm-featured-form {
	display: flex;
	width: 100%;
}

.frm-templates-list li .frm-featured-form {
	padding: 7px 5px;
}

.frm-templates-list li li > div {
	padding-left: 0;
}

.frm-templates-list li > div > div {
	vertical-align: middle;
}

.frm-category-icon,
.frm-icon-wrapper {
	background: var(--primary-500);
	border-radius: var(--small-radius);
	color: #fff;
	width: 32px;
	height: 32px;
	font-size: 18px;
	box-sizing: border-box;
	align-self: center;
	justify-content: center;
	align-items: center;
	display: inline-flex;
}

.frm-templates-list li .frm-category-icon {
	overflow: hidden;
}

.frm-templates-list li h3,
.frm-templates-list li p {
	text-align: left;
	margin: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.frm-templates-list li h3,
.frm-templates-list .frm-install-template h3 {
	font-size: var(--text-sm) !important;
}

.frm-templates-list .frm-install-template div {
	text-align: left;
}

#frm_leave_email,
#frm_code_from_email {
	width: 480px;
	max-width: 100%;
}

.frm-templates-list.frm-categories-list li > div > div:last-child {
	padding-left: 0;
}

.frm-hover-icons {
	position: absolute;
	right: 0;
	top: calc( ( 58px - 2px - 22px ) / 2 ); /* Template item height - borders - icon height */
	max-width: 91px;
	height: 100%;
	box-sizing: border-box;
	padding: 0 10px 0 5px !important;
	border-radius: var(--small-radius);
	text-align: right;
	display: flex;
	gap: 5px;
}

.frm-ready-made-solution .frm-hover-icons {
	visibility: hidden;
}

.frm-ready-made-solution:hover .frm-hover-icons {
	visibility: visible;
}

.frm-hover-icons a {
	width: 22px;
	height: 22px;
	font-size: var(--text-md);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	box-sizing: border-box;
	line-height: var(--leading);
	text-align: center;
}

.frm-hover-icons > .frm-preview-form,
.frm-hover-icons > .frm-delete-form {
	border: 1px solid var(--primary-500);
}

.frm-hover-icons > .frm-create-form,
.frm-ready-made-solution .frm-hover-icons a {
	background-color: var(--primary-500);
}

.frm-hover-icons > a .frmsvg {
	width: 14px;
	height: 14px;
	vertical-align: baseline;
}

.frm-hover-icons > .frm-preview-form .frmsvg,
.frm-hover-icons > .frm-delete-form .frmsvg {
	color: var(--primary-500);
}

.frm-hover-icons > .frm-unlock-form {
	background-color: var(--primary-500);
}

.frm-hover-icons > .frm-unlock-form .frmsvg {
	background-color: var(--primary-500);
}

.frm-ready-made-solution .frmsvg {
	width: 14px;
	height: 14px;
}

.frm-hover-icons .frm-create-form svg,
.frm-ready-made-solution .frm-hover-icons svg {
	color: #fff;
}

.frm-hover-icons .frm-create-form:hover,
.frm-ready-made-solution .frm-hover-icons a:hover,
.frm-hover-icons > .frm-unlock-form:hover,
.frm-hover-icons > .frm-unlock-form:hover .frmsvg
{
	background-color: var(--primary-700) !important;
}

.frm-hover-icons .frm-preview-form:hover,
.frm-hover-icons .frm-delete-form:hover
{
	border: 1px solid var(--primary-700) !important;
}

.frm-hover-icons .frm-preview-form:hover .frmsvg,
.frm-hover-icons .frm-delete-form:hover .frmsvg {
	color: var(--primary-700) !important;
}

.frm-application-card h4 .frmsvg,
.frm-locked-template h3 .frmsvg {
	height: var(--text-sm);
	width: var(--text-sm);
	vertical-align: text-top;
	color: var(--grey-500);
}