@import '../frm-web-component.scss';
.frm-typography-component {
	.frm-typography-container {
		display: flex;
		justify-content: space-between;
		width: 100%;
		select {
			width: calc( 70% - 6px);
			outline: 0;
			box-shadow: var(--box-shadow-xs);
			border-radius: var(--small-radius);
			padding: 5px 14px;
			border-color: var(--grey-300);
			color: var(--grey-800);
			font-size: var(--text-md);
			margin: 0;
			background-color: #fff;
			line-height: var(--leading);
		}

		.frm-unit-value {
			width: 28%;
			height: 36px;
			display: flex;
			justify-content: center;
			box-sizing: border-box;
			background: white;
			border-radius: var(--small-radius);
			border: 1px solid var(--grey-300);
			overflow: hidden;

			> * {
				border: none;
			}

			input {
				width: 32px;
				height: 100%;
				padding: 0;
				font-size: var(--text-sm);
				color: rgba(16, 24, 40, 1);
				padding-left: 8px;
				box-sizing: border-box;
				&:focus {
					outline: none;
				}
			}

			select {
				text-align: left;
				padding: 0;
				font-size: var(--text-sm);
				color: rgba(102, 112, 133, 1);
				width: 36px;
				background: url('../../images/style/small-arrow.svg') no-repeat;
				background-position: center right 12px;
				&:focus {
					outline: none;
				}
			}
		}
	}
}