/**
 * Component: Button Grey
 */

.wp-core-ui .frm_grey.frm-button-primary.disabled,
.wp-core-ui .frm_grey.frm-button-primary,
#frm-welcome .frm_grey {
	opacity: 0.5;
	background: #f6f6f6 !important;
	border-color: #ddd !important;
	color: #9fa5aa !important;
}
