/**
 * Utilities - Background
 */

.frm_white_bg,
.frm-bg-white {
	background-color: #fff;
}

.frm-bg-grey-200 {
	background-color: var(--grey-200);
}

.frm-bg-grey-800 {
	background-color: var(--grey-800);
}

.frm-bg-primary-500 {
	background-color: var(--primary-500);
}
