.frm-coupons-upsell-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;

	p {
		max-width: 364px;
		text-align: center;
	}

	img {
		max-width: 100%;
		max-height: 300px;
	}

	h3 {
		margin-bottom: 0;
	}
}

.frm-coupons-upsell {
	background-color: #F5F5F7; // This color blends better with the optimized images.
	border-radius: 16px;
	border: 6px solid #fff;
	box-shadow: 0 0.471px 1.412px 0 rgba(16, 24, 40, 0.10), 0 0.471px 0.941px 0 rgba(16, 24, 40, 0.06);
	text-align: center;
	width: 100%;
	box-sizing: border-box;
}

.frm-main-coupons-upsell {
	margin-top: var(--gap-lg);

	img {
		vertical-align: bottom;
	}
}

.frm-secondary-coupons-upsells {
	margin-top: var(--gap-md);
	width: 100%;
}
