/**
 * Components - Default Switcher
 */

.frm-default-switcher {
	float: right;
	position: absolute;
	top: 15px;
	right: 7px;
	z-index: 1;
}

.frm-default-switcher a {
	padding: 0 2px;
}

.frm-default-switcher a .frmsvg {
	vertical-align: initial;
}

.frm-default-switcher a,
.frm-default-switcher a .frmsvg,
.frm-default-switcher a i {
	color: var(--grey);
}

.frm-default-switcher a.current,
.frm-default-switcher a.current .frmsvg,
.frm-default-switcher a.current i {
	color: var( --primary-500);
}
