#frm-forms-list-settings-btn-wrappper {
	position: relative;
}

#frm-forms-list-settings {
	position: absolute;
	top: 100%;
	right: 0;
	min-width: 200px;
	background-color: #fff;
	border-radius: 8px;
	border: 1px solid #F2F4F7;
	box-shadow: 0 1.88px 4px -1px rgba(16, 24, 40, 0.03);
}
