/**
 * Component: Pirate Forms Importer
 */

#welcome-panel:has(#frm_form_pf_importer) {
	background-color: #fff;
	margin: var(--gap-sm) var(--gap-md) var(--gap-md);
	line-height: 2;
}

#welcome-panel:has(#frm_form_pf_importer) .welcome-panel-content {
	text-align: start !important;
	min-height: unset;
	display: block;
}

#frm_form_pf_importer div {
	margin: 10px 0 !important;
}

#frm_form_pf_importer button {
	border: 1px solid var(--primary-500);
	padding: 7px 16px;
	min-height: 28px;
	line-height: var(--leading);
	margin-bottom: 0;
	background: var(--primary-500);
	color: #fff !important;
}

#frm_form_pf_importer button:hover {
	background: #135e96;
	border-color: #135e96;
}
