/**
 * Components - Publish Actions
 */

.frm-right-panel #publishing-action {
	float: none;
}

.frm-right-panel #major-publishing-actions {
	border-top: none;
	height: 32px;
	background: transparent;
}

#major-publishing-actions .frm_submit_form {
	float: right;
	margin-left: 5px;
}
