/**
 * Utilities - Display
 */

#wpwrap .frm_hidden\! {
	display: none !important;
}

.frm_block, /* deprecated */
.frm-block {
	display: block;
}

.frm_inline {
	display: inline;
}

.frm-inline\! {
	display: inline !important;
}

.frm_inline_block {
	display: inline-block !important;
}
