/**
 * Utilities - Flex
 */

.frm-inline-flex,
#wpbody-content .frm-inline-flex {
	display: inline-flex;
}

.frm-flex {
	display: flex;
}

.frm-flex\! {
	display: flex !important;
}

.frm_hidden,
.js .frm-hide-js {
	display: none;
}

.frm-flex-box {
	display: flex;
	gap: var(--gap-sm);
}

.frm-flex-col {
	display: flex;
	flex-direction: column;
}

.frm-flex-full {
	flex: 1;
}


%frm-flex-center {
	justify-content: center;
	align-items: center;
}


.frm-flex-center {
	display: flex;

	@extend %frm-flex-center;
}

.frm-flex-center\! {
	display: flex !important;

	@extend %frm-flex-center;
}

.frm-shrink-0 {
	flex-shrink: 0;
}

.frm-gap-0 {
	gap: 0 !important;
}

.frm-gap-2xs {
	gap: var(--gap-2xs);
}

.frm-gap-xs {
	gap: var(--gap-xs);
}

.frm-gap-xs\! {
	gap: var(--gap-xs) !important;
}

.frm-gap-sm {
	gap: var(--gap-sm);
}

.frm-gap-md {
	gap: var(--gap-md);
}

.frm-gap-xl {
	gap: var(--gap-xl);
}

.frm-justify-start {
	justify-content: start !important;
}

.frm-justify-center {
	justify-content: center !important;
}

.frm-justify-between {
	justify-content: space-between;
}

.frm-justify-end {
	justify-content: end;
}

.frm-items-center {
	align-items: center;
}

.frm-items-stretch {
	align-items: stretch;
}

#wpbody-content .frm-flex-wrap {
	flex-wrap: wrap;
}

.frm-grow {
	flex-grow: 1;
}

.frm-order-first {
	order: calc(-infinity);
}

.frm-order-last {
	order: calc(infinity);
}

.frm-order-none {
	order: 0;
}

%h-stack-base {
	display: flex !important;
	align-items: center;

	> input[type="checkbox"],
	> input[type="radio"] {
		margin: 0 !important;
	}
}

.frm-h-stack {

	@extend %h-stack-base;
	gap: var(--gap-2xs);
}

.frm-h-stack-xs {

	@extend %h-stack-base;
	gap: var(--gap-xs);
}

.frm-h-stack-sm {

	@extend %h-stack-base;
	gap: var(--gap-sm);
}
