.frm_form_field.frm6_followed + p,
.frm_form_field.frm6_followed + div {
	grid-column: span 6 / span 6;
}

.frm_form_field.frm12_followed + p,
.frm_form_field.frm12_followed + div {
	grid-column: span 12 / span 12 !important;
}

.frm_form_field.frm-phone-type ~ [id*="frm-field-format-custom-"] > label,
.frm_form_field.frm-format-dropdown ~ [id*="frm-field-format-custom-"] > label {
	opacity: 0; /* Hide the label for the format input in the phone field. */
}

.frm_form_field.frm-format-dropdown ~ [id*="frm-field-format-custom-"] {
	grid-column: span 6 / span 6;
}

/* Adjust "CSS Layout Classes" to full width when the "Format" setting is present. */
.frm-single-settings.frm-type-textarea > .frm_grid_container [id*="frm-field-format-custom-"] + p {
	grid-column: span 12/span 12;
}
