/**
 * Utilities - Visibility
 */

.frm_invisible {
	visibility: hidden;
	transition: all 0.2s ease;
}

.frm_disabled {
	opacity: 0.5;
	cursor: default;
	pointer-events: none;

	.frm-show-inline-modal {
		pointer-events: none !important;
	}
}
