/**
 * Layout - Editor Overrides
 */

/* Override CSS in Views plugin. */

.post-type-frm_display .frm_top_left {
	padding-bottom: 0 !important;
}

.frm-views-editor-body #frm_adv_info .frm-view-customization-tabs .subsubsub {
	padding-right: 0 !important;
	padding-left: 0 !important;
}

/** End Temporary View CSS */
