/**
 * Import/Export
 */

.frm-lite .xml_opts .frm-export-xml-items {
	display: none;
}

.csv_opts #frm_csv_col_sep {
	width: 45px;
}

#frm_advanced td.frm_left_label {
	width: 20%;
	padding-right: 2px;
}