.frm-spotlight {
	position: absolute;
	top: 50%;
	transform: translate(-7px, -50%);
	cursor: default;
	z-index: 9999;

	> * {
		flex: 0 0 auto
	}

	&__content {
		position: relative;
		box-sizing: border-box;
		flex-shrink: 0;
		width: 242px;
		border: 1px solid var(--grey-200);
		overflow: visible;

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: -6px;
			width: 11px;
			height: 11px;
			background-color: inherit;
			transform: translateY(-50%) rotate(45deg);
			border-left: 1px solid var(--grey-200);
			border-bottom: 1px solid var(--grey-200);
			border-radius: 2px;
		}
	}

	&__pointer {
		box-sizing: border-box;
		width: 14px;
		height: 14px;
		background-color: var(--grey-600);
		padding: 3px;
		border-radius: 50%;
	}
}
