@import '../../../../resources/scss/admin/components/settings/sliders.scss';
@import '../frm-web-component.scss';

.frm-component {
	
	.frmsvg {
		width: 18px;
		height: 18px;
	}
	
	.frm-sliders-container {
		width: 100%;
	}
	.frm-group-sliders {
		.frm-slider-component {
			margin-top: 5px;
		}
	}
}
