name: E2E Test

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, labeled, synchronize]

jobs:
  cypress:
    if: contains(github.event.pull_request.labels.*.name, 'run tests')
    runs-on: ubuntu-latest

    name: Cypress
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Composer install
        run: composer install

      - name: Set up Node.js and install dependencies
        uses: ./.github/setup-node

      - name: Get Cypress info
        id: cypress-info
        run: |
          echo "CYPRESS_VERSION=$(node -p "require('./node_modules/cypress/package.json').version")" >> "$GITHUB_OUTPUT"
          echo "CYPRESS_CACHE_FOLDER=$(npx cypress cache path)" >> "$GITHUB_OUTPUT"

      - name: Cache Cypress binary
        uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
        with:
          path: ${{ steps.cypress-info.outputs.CYPRESS_CACHE_FOLDER }}
          key: cypress-${{ runner.os }}-${{ steps.cypress-info.outputs.CYPRESS_VERSION }}

      - name: Set up WP environment
        run: npm run env start

      - name: Test
        run: npm run e2e:githubrun
