name: E2E Test

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, labeled, synchronize]

jobs:
  cypress:
    if: contains(github.event.pull_request.labels.*.name, 'run tests')
    runs-on: ubuntu-latest

    name: Cypress
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: ./.github/setup-php
      - uses: ./.github/setup-node

      - name: Install Cypress binary
        run: npx cypress install

      - name: Set up WP environment
        run: npm run env start

      - name: Test
        run: npm run e2e:githubrun
