name: E2E Test

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, labeled, synchronize]

jobs:
  cypress:
    if: contains(github.event.pull_request.labels.*.name, 'run tests')
    runs-on: ubuntu-latest

    name: Cypress
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Composer install
        run: composer install

      - name: Set up Node.js and install dependencies
        uses: ./.github/setup-node

      - name: Install Cypress binary
        run: npx cypress install

      - name: Set up WP environment
        run: npm run env start

      - name: Test
        run: npm run e2e:githubrun
