name: Inspections

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, labeled, synchronize]

jobs:
  runESLintInspection:
    if: contains(github.event.pull_request.labels.*.name, 'run analysis')
    name: Run ESLint
    runs-on: ubuntu-latest
    steps:
      - uses: ./.github/checkout
      - uses: ./.github/setup-node

      - name: Run ESLint
        run: ./node_modules/.bin/eslint .
