on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

name: Inspections
jobs:
  runPHPCSInspection:
    name: Run ESLint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Analyze js code style
        run: |
          npm install eslint
          wget https://develop.svn.wordpress.org/trunk/.jshintrc
          ./node_modules/.bin/eslint ./js
          ./node_modules/.bin/eslint ./stripe/js
          ./node_modules/.bin/eslint ./tests/cypress/e2e/*
