name: Inspections

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, labeled, synchronize]

jobs:
  runPHPCSFixerInspection:
    if: contains(github.event.pull_request.labels.*.name, 'run analysis')
    name: Run PHP CS Fixer inspection
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: ./.github/setup-php

      - name: PHPCSFixer check
        run: ./vendor/friendsofphp/php-cs-fixer/php-cs-fixer fix --dry-run --verbose
