name: Inspections

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, labeled, synchronize]

jobs:
  runRectorInspection:
    if: contains(github.event.pull_request.labels.*.name, 'run analysis')
    name: Run Rector inspection
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install dependencies
        run: composer install --dev --prefer-dist --no-progress

      - name: Rector check
        run: ./vendor/bin/rector process --dry-run
