on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - master
  pull_request:
    types: [ opened, labeled, synchronize ]

name: Inspections
jobs:
  runRectorInspection:
    if: contains(github.event.pull_request.labels.*.name, 'run analysis')
    name: Run Rector inspection
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
      - name: Install dependencies
        run: composer install --dev --prefer-dist --no-progress --no-suggest

      - name: Rector check
        run: .vendor/bin/rector process --dry-run
